[2012-06-25 05:52] mperrin opened #1 "Update the test suite"
Test suite is completely broken following repackaging. Set up to run properly; investigate using some continuous validation tool(s).

[2012-06-25 05:53] mperrin opened #2 "Investigate python 3 compatibility"
Has not even been attempted yet. On the other hand, there is no clear statement of demand for python 3 webbpsf yet.

[2012-06-25 05:55] mperrin opened #3 "Revalidate multiprocessing; optimize"
Some of the multi-CPU options have not been tested extensively in a while. Needs to be revalidated, and the defaults possible improved. Overall an analysis of performance optimization would be a good idea.

[2012-06-25 05:57] mperrin opened #4 "Refresh documentation"
# Documentation issues checklist

  - [x] Remove commented text from `webbpsf.rst` (and elsewhere)
  - [x] Mention `:py:attr:JWInstrument.options` where appropriate in `webbpsf.rst` #24
  - [x] Update instrument subclassing example (refers to `webbpsf.TFI`, `ThinLens` without `radius`)
  - [x] Move `poppy.rst` into POPPY (if there's information there that isn't already in the POPPY docs). Should l

[2012-06-25 05:58] mperrin opened #5 "Update NIRCam occulters with as-built optics properties"
Can I get the NIRCam A and B occulter measured data in FITS format?

[2012-06-28 23:17] mperrin opened #6 "Improve packaging on PyPI - dependencies?"
For some reason my PyPI package version is not automatically resolving dependenceies when installed with pip. Need to take a look at this.

[2013-01-24 20:42] mperrin opened #7 "Update filter profiles, for NIRISS and others"
Need to work with Vicki, Loic, et al. to ensure we have updated filter profiles.

[2013-01-24 20:43] mperrin opened #8 "option in GUI for monochromatic calculations"
There should be some easy way to do a monochromatic calculation in the GUI.

Implementation idea: on the options panel, have a toggle between monochromatic and broadband. If monochromatic, repurpose and relabel the # of wavelengths box in the GUI.

[2013-01-25 23:59] mperrin opened #9 "Implement configuration system for storing defaults"
Would be nice if the GUI system would save configuration options between invocations. Could be used for defaults for the object interface as well.

[2013-04-24 21:11] #8 closed, assigned to nobody

[2013-04-24 21:12] #9 closed, assigned to nobody

[2013-04-24 21:13] mperrin opened #10 "PyFFTW3 vs pyFFTW"
Argh, there are two packaged for FFTW access in Python. Should evaluate & compare.

See: https://github.com/astropy/astropy/pull/660
for some discussion in astropy.

TBD how best to work with planning to support stored wisdom for large 2D FFTs to minimize replanning.

[2013-04-26 21:07] mperrin opened #11 "Update to take advantage of astropy affiliated package machinery"
See https://github.com/astropy/package-template

[2013-06-12 05:50] #11 closed, assigned to nobody

[2014-09-03 20:46] mperrin opened #15 "Field dependence of PSFs"
To be added in version 0.4

[2014-09-03 20:48] mperrin opened #16 "Analytic Optic prescription for JWST pupil geometry"
Might be nice to have this as an an analytic optic, although we would still be limited by the fixed discretization of the OPDs.

Should be cross checked for consistency with WSS pupil specification.

[2014-09-03 20:55] mperrin opened #17 "Un-flip intermediate pupil sign conventions."
This appears to have gotten flipped around in the switch to PyFFTW - need to re-check/validate this for alignment of coronagraphic pupil masks.

[2014-09-04 03:37] #17 closed, assigned to nobody

[2014-09-04 03:38] #10 closed, assigned to nobody

[2014-09-25 22:58] mperrin opened #18 "Allow unicode in filter names and other options"
Bug report from Brian York:

[code]

[2014-10-09 19:47] josePhoenix opened #20 "Move WebbPSF docs to pythonhosted.org"
I noticed that the current docs at http://www.stsci.edu/~mperrin/software/webbpsf/ are being served with incorrect encoding information. (Note the appearance of the paragraph links that appear when mousing over headings.)

While we could probably fix that with a `.htaccess` change, it might be worth moving the docs to a service like readthedocs.org (which AstroPy) uses. Then we can build docs from

[2014-10-09 20:00] josePhoenix opened #21 "Drop Python 2.6 compatibility?"
It looks like the promise of Python 2.6 compatibility is no longer true for WebbPSF. I'm fine with dropping it, and moving towards a bilingual codebase with Python 3 support (i.e. #2 ).

I notice plhstins1 and the witservs have older Python installs, so it may be necessary to maintain compatibility. If so, we should see if we can configure Travis-CI to test on Python 2.6. Or, at least, write up so

[2014-10-14 21:43] #6 closed, assigned to nobody

[2014-11-14 15:48] josePhoenix opened #23 "Docs: "Performance and Parallelization" appendix out of date"
A user asked me about `webbpsf.settings.use_multiprocessing` and it looks like that's no longer supported. He saw it in [Appendix: Performance and Parallelization](http://www.stsci.edu/~mperrin/software/webbpsf/performance.html), which we should update before releasing 0.3.0.

[2014-11-14 16:12] josePhoenix opened #24 "Instrument options keyword argument doesn't validate option names"
Passing in `instrument.options['foo']` doesn't validate that 'foo' is actually an option provided by WebbPSF/POPPY. Also, I am told we don't have clear documentation of all the available options.

Ideally, we'd validate that options provided by the user are really allowed. I need to look at where the options dict goes in its path through the code and see if that's feasible. This may not be an easy

[2014-11-19 04:29] #18 closed, assigned to nobody

[2014-11-25 22:16] josePhoenix opened #28 "Roll-your-own source spectra don't work as described"
The docs say source spectra can be provided a variety of ways, but it looks like options 2 and 3 are not currently functional. We should update the docs and/or POPPY.

Reported by @kvangorkom.

**To reproduce:**

Run this code and note the output. Specifically, the part that says `Pysynphot unavailable (or invalid source supplied)! Assuming flat # of counts versus wavelength.`

It looks like `popp

[2014-12-09 19:04] josePhoenix opened #29 "Failing test: test_miri_fqpm"
This test is failing with `TclError: no display name and no $DISPLAY environment variable` when run in a headless environment. It needs to be updated not to initialize the matplotlib GUI functionality (should just be `display=False`).

[2014-12-09 19:07] josePhoenix opened #30 "Failing test: test_nircam_SAMC"
This test is failing because the precision is less than desired on some machines. The difference between the same PSF calculated with the SAM coronograph method and with the `no_sam` option is supposed to be less than 1e-7.

Can we make the cutoff less stringent?

(Also, it looks like the code path for the SAM method in the test doesn't check that SAM was actually used. It apparently was, if there

[2014-12-10 15:59] #21 closed, assigned to josePhoenix

[2014-12-16 15:58] josePhoenix opened #31 "NIRCam _validate_config will need to be updated to handle sources given as weights"

[2014-12-16 17:10] #29 closed, assigned to nobody

[2014-12-17 16:20] #20 closed, assigned to nobody

[2014-12-18 16:38] #28 closed, assigned to nobody

[2015-01-15 18:59] josePhoenix commented on #24
closed by d47b774

[2015-01-15 18:59] #24 closed

[2015-01-15 19:42] josePhoenix opened #34 "New SIAFs for webbpsf-data package"
Upon investigating the current public SIAFs, it appears the SIAF parsing code in `jwxml.py` now expects a slightly different format. As far as I know, WebbPSF doesn't use SIAFs in its calculations (yet!) but we should update them anyway. (That way when field dependence support lands, it'll require a code update but not [necessarily] a data update.)

[2015-01-15 19:55] mperrin commented on #34
We should ping Colin Cox on this. I believe he has already made the relevant updates in his version of the SIAF reading code.

 - Marshall

On Jan 15, 2015, at 2:42 PM, Joseph Long <notifications@github.com<mailto:notifications@github.com>> wrote:

Upon investigating the current public SIAFs, it appears the SIAF parsing code in jwxml.py now expects a slightly different format. As far as I know, We

[2015-01-15 19:57] josePhoenix commented on #34
I've got the new XML files from Colin; however, he warned me that he would be updating several of them in the near future. `jwxml` seems to be able to read them (but not the ones currently in webbpsf-data).

[2015-01-15 21:39] mperrin commented on #34
Ah OK I misread the issue. I thought you were saying the code needed to be updated but you mean the data files. By all means yes let's go ahead and add the current ones now, and we can update again before the release if Colin makes another updated set.

[2015-01-15 21:42] mperrin opened #35 "parity of forward & inverse MFT transforms"
Begin forwarded message:

(I don't see any straightforward way to attach the file attachment to a github issue, but we have it in our inboxes)

[2015-01-16 16:55] josePhoenix commented on #34
All right, I think that's up to you since I can't write to the folder. Per Colin, the updates files are in `/itar/jwst/tel/share/SIAF_WG/Instruments/SIAFXML/XML/`.

[2015-01-21 01:53] mperrin commented on #3
Docs have been updated (thanks!). Apart from the weirdness with multiprocessing instabilities, I would class this as a relatively low-priority item.  I think we both expect the multiprocessor stuff to be tricky to dig into, and I would say probably not worth holding up the 0.3 release for at this point?

[2015-01-21 01:54] mperrin commented on #4
Closed via pull request https://github.com/mperrin/webbpsf/pull/33

Thanks for all your efforts cleaning up all these details and generally polishing the presentation - much appreciated.

[2015-01-21 01:54] #4 closed

[2015-01-21 01:56] mperrin commented on #23
Was this handled as part of the docs refresh you just checked in, or is there still more to do on this one?

[2015-01-21 01:57] mperrin commented on #35
Reproduced by @josePhoenix from Anand's example code. Definitely looks like I missed this one somehow before.

[2015-01-21 02:08] mperrin commented on #34
I have updated the files in `/grp/jwst/ote/webbpsf-data` with Colin's latest SIAF XML files. (and my master source directory as well, so whenever I next generate a new zip file the updated XML will be included in that)

Reminder to myself:
 - [ ]  Relocate master copy of webbpsf data to `/itar/jwst/tel` and set up shared permissions
 - [ ]  Document build scripts for making the webbpsf data zip fi

[2015-01-21 23:04] mperrin commented on #31
Description: Currently this uses the filter name string to determine whether to set the pixel scale to the NIRCam short or NIRCam long scales.  Assumes the filter is a string in HST/JWST style 'F200W', 'F470N', etc.

The suggestion was that if the user decides to specify the wavelengths and weights manually, then this filter name approach will not work, and will need to be updated.

One minor diff

[2015-01-23 15:51] josePhoenix opened #36 "webbpsf.JWInstrument.calcPSF duplicates code from poppy.Instrument.calcPSF"
We should factor out the JWST-specific stuff where possible and call the superclass' calcPSF.

[2015-01-23 19:15] josePhoenix commented on #35
Really a POPPY issue, see https://github.com/mperrin/poppy/issues/38 for remaining subtasks (basically writing test cases).

[2015-01-23 19:15] #35 closed

[2015-01-23 19:27] josePhoenix commented on #31
I think it might make sense to move the call to `_validate_config` into `Instrument.calcPSF`. At the moment it only serves to solve our immediate problem, but thinking ahead to specifying a field position (for field dependence support) we'll probably want to validate the config with info on the aperture and position. I'm imagining that the aperture will be set as an attribute or property on Instru

[2015-01-24 01:44] mperrin commented on #1
This is very generic. We've clearly made major progress since I wrote the above.

@cslocum, about the 'continuous validation' point - right now you've got this all running as part of the SSBDEV validation suite weekly, right?  Where do the outputs of those tests go? I assume there is a web page or dashboard or something like that?

[2015-01-25 19:41] josePhoenix commented on #23
Yes, this is done! https://github.com/mperrin/webbpsf/commit/7ae1ddc0b3d659bc1eb7708d737ac69a7216cd2b

[2015-01-25 19:41] #23 closed

[2015-01-25 19:43] josePhoenix commented on #1
We should maybe close this and make a more specific issue ("Set up Travis-CI"?)

[2015-01-25 21:11] josePhoenix opened #39 "Set up continuous integration support for WebbPSF"
Once our test suite is all passing and can run headless, we should set up [Travis-CI](https://travis-ci.org). Travis-CI will let us see when pull requests break things, as well as let users see if our test suite is passing on `master`.

[2015-01-27 19:06] josePhoenix opened #40 "Jitter functionality is incomplete"
In the documentation for WebbPSF.JWInstrument, we have

[code]

However, this test code shows no difference between a PSF with jitter enabled and a PSF with no jitter:
[code]

I think this is because calcPSF is completely rewritten for `JWInstrument` and doesn't automatically get updates we make to `poppy.Instrument`. Refactoring that is something to tackle for v0.4.

[2015-01-29 16:31] josePhoenix commented on #3
Agreed. We should make issues that are smaller in scope for specific improvements to multiprocessing. At least for now we have some in POPPY: https://github.com/mperrin/poppy/issues/23 https://github.com/mperrin/poppy/issues/60 https://github.com/mperrin/poppy/issues/54

[2015-01-29 16:31] #3 closed

[2015-02-09 22:01] josePhoenix opened #44 "Ureka aside in installation instructions no longer up-to-date"
Institute users won't be using `ur_setup common ssbdev` to set up Ureka any more. (Just `ssbx` or `ssbdev` will be enough to activate the environment.) We should update the [aside in the installation instructions](http://pythonhosted.org/webbpsf/installation.html#installing-the-required-data-files) to reflect that.

[2015-02-09 22:23] josePhoenix commented on #31
Fixed by https://github.com/mperrin/webbpsf/pull/42

[2015-02-09 22:23] #31 closed

[2015-02-09 23:09] josePhoenix commented on #30
Pinged Laurent about this.

[2015-02-09 23:14] mperrin commented on #30
Laurent is on travel to California the rest of this week, so I don't expect much action on this any time in the next few days. I would suggest that since this is just a matter of more careful testing it's low enough priority to wait until the next release after this one.

[2015-02-10 00:29] josePhoenix commented on #30
I guess what worries me is the structure in the image showing the difference between the two algorithms. For sufficiently high oversampling, the morphology of the PSF does look very similar. The residuals don't look like numerical noise to me, though. (But since the semi-analytic algorithm is pretty much a black box to me it's possible these patterns are totally expected.)

Here's an image with wh

[2015-02-11 21:13] mperrin opened #45 "Update NIRISS GR700XD to use ZnS instead of ZnSe"
As per email from Loic.

[2015-02-12 22:25] mperrin commented on #45
Done in 46ba537 . Works well in testing - defocused images are within a pixel's width of the measured CV2 data, which is good enough for now.

[2015-02-12 22:25] #45 closed

[2015-02-12 22:25] mperrin commented on #44
I actually just did this as part of a documentation cleanup pass.

[2015-02-12 22:25] #44 closed

[2015-02-12 22:26] mperrin commented on #1
This has more or less been accomplished. Still need to unbreak the travis setup but this issue isn't useful any more.

[2015-02-12 22:26] #1 closed

[2015-02-13 00:52] mperrin commented on #34
Master files relocated. (Again there is not actually any ITAR content in them, this is just the path to use given the existing shared files area on that disk)

Zip file building scripts updated; new zip files made for this release. I had to bump the version number a bit since the filter files changed, so it's now 0.3.1. I am slightly dismayed to have different version number on the data file than

[2015-02-13 00:52] #34 closed

[2015-02-13 01:48] mperrin opened #46 "WFIRST test case fails if no pysynphot is present"
The WFIRST imager class fails for the fallback code for the no-pysynphot case.  Looks like something minor in terms of the filter file setup or header, hopefully easy to fix.

I'm going to make it xfail for now, in the hopes of almost having the tests actually pass on Travis.

[code]

[2015-02-13 19:54] josePhoenix commented on #46
Ah, this is just a case of making the comparison case insensitive. I'll open a pull request to POPPY.

[2015-02-13 21:33] josePhoenix commented on #46
Fixed through changes in POPPY.

[2015-02-13 21:33] #46 closed

[2015-02-16 21:37] mperrin commented on #40
Does #47 fix this?

[2015-02-17 05:06] mperrin opened #48 "NIRISS should toggle pupil between CLEAR and CLEARP automatically"
In fact the class doc string says it does but it doesn't look like this was implemented.

Filters F277W and longer wavelength in imaging mode must use the CLEARP pupil (or NRM or GR700XD)  See http://www.stsci.edu/jwst/instruments/niriss/docarchive/NIRISS-pocket-guide.pdf

Implementation should be in _validateConfig similar to NIRCam pixel scale swap.

[2015-02-19 22:09] mperrin commented on #39
Working.

[2015-02-19 22:09] #39 closed

[2015-02-19 22:13] mperrin opened #51 "Set up Travis test with pysynphot and some minimal data file set"
I was reminded by #50 about an earlier suggestion. We should set up a Travis test instance that installs Pysynphot plus some bare-minimum set of FITS files (which I think could potentially be just some single stellar atmosphere model instance perhaps?). This would ensure test coverage of everything both with and without pysynphot.

[2015-02-19 22:55] #48 closed

[2015-02-19 23:14] josePhoenix commented on #40
Yes!

*Achievement unlocked: we closed all the issues on a milestone.*

[2015-02-19 23:14] #40 closed

[2015-02-20 14:26] mperrin opened #54 "Versioning for webbpsf data directory"
In addition to checking that WEBBPSF_PATH is defined, we should check the version number of the contents (since anyone upgrading from 0.2 to 0.3 will need to update the data files, in particular). There's a version.txt file present in that directory now and we ought to make **init**.py perform a check of its contents.

[2015-02-23 16:34] josePhoenix opened #56 "Verify Pupil Shift GUI control does what we want it to"
I'm not sure what the expected behavior is, but I tried a variety of different values for pupil shift in the NIRCam tab and didn't observe any change in the PSF. Only when using semi-analytic coronagraph propagation did I see evidence of the values I entered in the terminal output:

[code]

That was with 10% entered in the "X" box and 0 in the "Y". It's not clear whether it's being divided by 100

[2015-02-23 16:41] mperrin commented on #56
You can most easily see the expected behavior if you display the optical system of the instrument. You should see the intermediate pupil plane shift with respect to the telescope primary.

The "( 0.100, 0.000) %" line I suspect is just an incorrect output string which doesn't need the percent sign. This functionality definitely used to work properly for shifts of a few percent so I suspect it's ju

[2015-02-26 17:05] josePhoenix opened #58 "MIRI cannot switch to SemiAnalyticCoronagraph when using Lyot masks"
Problem identified by @kvangorkom. Example + output in https://gist.github.com/kvangorkom/808d17521ed9f99076e5

[code]

[2015-02-26 17:23] mperrin commented on #58
There's two different things going on here - first, the SAC class doesn't know what to do with the rotation plane in the optical system.  We could probably work around that if desired by extending the code: It should just do the SAC calculation for the first 3 optical planes, then rotate the PSF by the necessary 4.5 degrees after that.

But more fundamentally, the SAC approach isn't all that well

[2015-03-03 21:51] josePhoenix opened #59 "Add test for optional defocus in calculations"
The code to introduce defocus in PSF calculations through the `options` dictionary was not being exercised by our test suite, resulting in a typo slipping through.

[2015-04-09 21:14] josePhoenix opened #61 "Failing to start WebbPSF GUI without PYSYN_CDBS set"
We need to be smarter about when to try and populate the dropdowns in the GUI that require PYSYN_CDBS to be set.

[code]

[2015-04-09 21:34] josePhoenix opened #62 "Investigate whether pyFFTW wisdom saving/loading is working as specified"
I noticed in some logging output from Charles Lajoie that it was hitting the "Evaluating PyFFT optimal algorithm for ..." step even though he'd transformed 4k by 4k complex arrays many times before. I told him to turn off FFTW, with dropped the calculation time by 10 sec, but we should make sure that it's actually using the wisdom values. If it is, we should change the logging output to reflect th

[2015-04-09 21:34] josePhoenix commented on #62
Oops, moving to mperrin/poppy

[2015-04-09 21:34] #62 closed

[2015-04-12 00:35] mperrin commented on #2
Following @josePhoenix's success in getting poppy working on python 3 using 2to3 and six (https://github.com/mperrin/webbpsf/issues/2) it was pleasantly straightforward to do the same for webbpsf.  All tests pass on Python 3.4 now locally, though it looks like the Travis setup needs some tweaking to get them running there too.

[2015-04-14 18:32] Skyhawk172 opened #63 "Optimal offsets along NIRCam bar occulters"
I'd like to suggest the implementation of a method to readily offset the source along the bar occulters based on the filter wavelength.  I have created my own (based on internal documentation I could get a hold of) and would gladly provide it for a start.

[2015-04-14 20:46] mperrin commented on #63
Yes, agreed.

Do we know how exactly this is going to be supported in APT yet? Are there going to be specific default positions for each filter specified in the SIAF, is it all going to be done with POS TARG offsets, or something else? We should definitely implement something along the lines you describe, and hopefully it can be reasonably consistent with the eventual APT interface as well.

[2015-04-15 14:06] lajoiecp commented on #63
John S. provided me with one of his TR (to be released) describing the width of the bars as a function of displacement along the bars, as well as the optimal position (i.e. where the width is 4 lambda/D) for a given wavelength.

The bars are 20" wide with flat edges.  His equations for the middle 15" are linear, going from 2 lambda/D at the narrow end of the bar to 6 lambda/D at the wide end. The

[2015-04-20 17:32] josePhoenix opened #64 "Move 'CLEAR' from pupil_mask_list to filter_list in NIRISS"
Based on correspondence with André Martel, it seems like NIRISS users will find our API [less astonishing](https://en.wikipedia.org/wiki/Principle_of_least_astonishment) if 'CLEAR' were a filter option, as it is in the physical instrument, rather than a pupil mask option. This will also make it straightforward to compare with ground test data taken in `filter = 'CLEAR'` + `pupil_mask = 'CLEARP'` m

[2015-04-20 17:34] josePhoenix opened #65 "Incorporate wavelength limits when GR700XD is used with 'CLEAR' filter on NIRISS"
Based on correspondence with André Martel, it sounds like configuring the filter wheel as `'CLEAR'` and the pupil wheel as `'GR700XD`' is a common use case. In this case, we should limit the calculation to wavelengths that are passed in that mode: namely, from `NIRISS.SHORT_WAVELENGTH_MIN` to `NIRISS.SHORT_WAVELENGTH_MAX` (0.5 - 2.35 um).

[2015-04-20 17:41] mperrin commented on #64
Does André also want us to make the filters that are physically in the pupil wheel into pupil options?

We should discuss this before jumping right into implementation. Thus far the development paradigm for webbpsf has been to gloss over some specifics of instrument implementation in favor of a slightly more platonic ideal conception of each. For instance for NIRCam we ignore the fact that some fi

[2015-04-20 17:50] mperrin commented on #65
Relatedly we would want to have someone on the NIRISS team provide us with lookup tables for the GR700XD displacement vs wavelength, or else all those wavelengths would end up on top of one another in a non-useful blob.

Thus far we've ignored that since the Pandeia team is putting together the monochromatic PSFs themselves, but it would be needed for any attempts at broadband simulations in dispe

[2015-04-20 18:06] josePhoenix commented on #64
Ah, I see what you mean. The motivation here is that they want to simulate certain configurations that would map to setting `filter = None` and having two settings for the pupil wheel in WebbPSF-land. There's currently no way to do that within the API exposed on the NIRISS class.

I sent André a [workaround](http://nbviewer.ipython.org/gist/josePhoenix/7f28698c0837afc5598b) that uses the manual so

[2015-04-20 18:15] mperrin commented on #64
I think that defining 'CLEAR' as a filter using a box function as you describe is actually totally legitimate.

Now that I've thought about this some more I may have been overcomplicating this by jumping right to the question of "do they want us to make the class API look like the instrument physical mechanisms?". If all that's needed is adding a clear filter then I think that's comparatively stra

[2015-04-20 18:15] #2 closed

[2015-04-20 20:19] mperrin commented on #65
As discussed in person but writing this down for the record. The grism wavelength cutoff is imposed not by any optical transmission limit but rather the edge of the detector.  See [this TIPS/JIM talk on Confluence](https://confluence.stsci.edu/download/attachments/48727484/TIPS_2014_04_17_C.pdf?version=1&modificationDate=1413498576000&api=v2) in particular slides 20-21.

Note incidentally the `SHO

[2015-04-24 19:41] josePhoenix opened #66 "INSTRUME key in FITS filter headers always == 'NIRCam' for NIRISS, MIRI"
For consistency, these should be updated to reflect their respective instrument names when we next update the data files.

[2015-04-24 20:22] josePhoenix opened #67 "Fix non-specific `except` blocks"
There are places in the WebbPSF and POPPY code where the

[code]
anti-pattern occurs. All `except` blocks should say what kind of errors they expect. Otherwise, they can mask other errors. For example,

[code]
was hiding the fact that `self._filter_nlambda_default` didn't actually exist. That should be `except KeyError` to catch the case where the filter isn't in the lookup dict. (Or even, alterna

[2015-04-24 20:34] josePhoenix opened #68 "Fix default nlambda selection mechanism"
Looks like it got broken at some point in the Instrument / filter loading refactor. Always chooses 10 wavelengths. See webbpsf_core.py:354.

[2015-04-24 20:49] #61 closed

[2015-04-27 22:47] #68 closed

[2015-05-01 03:33] mperrin opened #70 "Update NIRISS GR700XD for LLNL grism"
NIRISS GR700XD grism replaced after CV2. Needs to be updated for the new LLNL grism properties based on info in the Word document draft that Loic emailed to Marshall.

[2015-06-05 21:47] mperrin opened #71 "Update NIRISS CLEARP model to have oversized tricontagon mask"
The NIRISS CLEARP pupil definitely has an oversized tricontagon (sharp-edged) outer edge, around the PAR in the middle. See image in email from Anand on May 8 2015.

In practice this makes little difference when combined with the primary mirror which sets the effective outer edge unless there is substantial pupil misalignment. But we should get this detail right at some point since it is relativel

[2015-07-15 17:53] josePhoenix opened #73 "The JWInstrument constructor clobbers the default OPD map selection"
It is set here: https://github.com/mperrin/webbpsf/blob/master/webbpsf/webbpsf_core.py#L176 in SpaceTelescopeInstrument

and overridden here: https://github.com/mperrin/webbpsf/blob/master/webbpsf/webbpsf_core.py#L696 in JWInstrument

[2015-07-16 23:19] #73 closed

[2015-08-19 00:24] mperrin commented on #66
MIRI filters fixed, as part of total replacement of those files with the published MIRI filters from http://www.jstor.org/stable/10.1086/682264

The NIRISS filters are in fact NIRCam flight spare hardware that was bought by NIRCam originally, so I say those header keywords are sufficiently correct as-is. :-)

[2015-08-25 18:21] josePhoenix opened #77 "Explain use of defocus_waves in WebbPSF docs"
Just noticed that the docs still recommend overriding `JWInstrument._addAdditionalOptics()` to add defocus, but we now have an `options` key for it.

[2015-10-09 13:37] josePhoenix commented on #7
Just received an inquiry from Anand about the NIRISS filter curves. It looks like we have all the inputs in the `sources` directory; it's just a matter of cooking up new FITS tables. I'll open another issue for that and mark it for the next release.

[2015-10-09 13:39] josePhoenix opened #78 "Update NIRISS filter profiles in webbpsf-data"
We appear to have all the inputs in `sources` to provide better filter throughput tables for NIRISS. It's just a matter of making FITS tables out of them.

See #7 for previous context.

[2015-11-19 22:39] mperrin commented on #15
still not yet!

[2015-11-19 22:40] mperrin commented on #78
hmm, this should probably actually happen now if at all possible.

[2015-11-19 22:40] mperrin commented on #77
this will be pretty quick to update, I can do it.

[2015-11-19 22:47] mperrin commented on #66
Will be fixed as part of #78

[2015-11-19 23:02] mperrin opened #80 "Release checklist for 0.4"
- [x] Add WFIRST page to Sphinx docs @josePhoenix
- [x] Review WFIRST notebook one last time @mperrin
- [x] Update (some) figures in Sphinx docs for better color tables consistency etc.
- [x] Regenerate updated filter tables for NIRISS see #66 and #78
- [x] Update docs for #77
- [x] Regenerate data files, version number marked as 0.4.0
- [x] bump webbpsf version number in setup.py
- [x] consider b

[2015-11-19 23:18] josePhoenix opened #81 "Improvements to WebbPSF-WFIRST tutorial notebook"
Based on feedback from @rpvdmarel (and things I noticed when looking with fresh eyes) I have a few things I / we should look at for notebook improvements:

  - [x] Acknowledge warnings and pink text that users may see, tell them they aren't reasons to mistrust the calculation
  - [x] In particular, maybe comment out the warning about pysynphot / "local throughput files" for filters, since that's e

[2015-11-19 23:24] mperrin commented on #81
agreed re "maybe comment out the warning"

I think we should avoid writing our own version of a 'Jupyter for new users' basics tutorial, and instead have pointers to existing resources such as http://jupyter-notebook-beginner-guide.readthedocs.org/en/latest/

[2015-11-19 23:25] mperrin commented on #81
How much of this do you want to get done in the next 24 hrs for 0.4, versus punting to a hypothetical 0.4.1 in mid-December along with the jupyterhub rollout?

[2015-11-19 23:30] josePhoenix commented on #81
Most, if not all, is pretty straightforward. The only thing I told Roeland was not necessarily straightforward was customizing the appearance of some of the default plots (e.g. adding colorbars to the intermediate optical planes in the `calcPSF(display=True)` call).

[2015-11-19 23:31] josePhoenix commented on #81
That said, the only thing I think is essential for the release is removing the GRS thing. I think I put that in for testing and never removed it... and it's only going to confuse people.

[2015-11-19 23:32] josePhoenix commented on #80
I'm not sure, but I think this might be the first public version that even tests `DATA_VERSION_MIN`?

[2015-11-19 23:49] mperrin commented on #80
oh good point. So we might as well push it all the way to 0.4.

Also
- [ ] write a 'what's new in 0.4' section of the docs.

[2015-11-20 03:54] josePhoenix commented on #81
FYI, I removed the GRS top hat curve in the webbpsf data sources directory and in filters.tsv. I also doubled the nlambda for the wide filter. (We should come up with less-hand-wavey nlambda at some point, but I can't look at that right now.)

[2015-11-20 04:26] josePhoenix opened #84 "Test FieldDependentAberration interpolation code paths"
I'd been using only pre-calculated field points in my testing and almost missed a Python 2/3 bug: 3c4ed55

Probably this can be done with an unphysical aberration optic that ranges from 0.0 Z1 at one corner to 1.0 Z1 at the other. Check in the middle to make sure it's 0.5.

[2015-11-20 05:00] josePhoenix commented on #81
Closed by #83.

[2015-11-20 05:00] #81 closed

[2015-11-20 05:04] mperrin commented on #78
Filters updated in webbpsf-data-source using new make_updated_NIRISS_filters.ipynb in the appropriate sources directory.  Will be included in the new release as part of #80.

[2015-11-20 05:04] #78 closed

[2015-11-20 05:05] mperrin commented on #66
NIRISS filters done as part of #78

[2015-11-20 05:05] #66 closed

[2015-11-20 05:06] mperrin commented on #7
This issue redundant with #78 . Done now.

[2015-11-20 05:06] #7 closed

[2015-11-20 05:17] mperrin commented on #71
I removed the (incorrect, not used, deprecated) `MASK_CLEARP.fits` from the 'webbpsf-data-source/NIRISS/optics' directory.  So that's at least somewhat less confusing.  The OpticalElement class in `webbpsf/optics` still could be updated in some future iteration to include the 4% oversized tricontagon mask, but in practice this should make no difference for any imaging calculation with NIRISS.

[2015-11-20 05:19] mperrin commented on #64
I think this issue can be closed - the CLEAR filter you added back in April is sufficient, and I don't see any  need for any additional change on this.

[2015-11-20 05:19] #64 closed

[2015-11-20 05:21] josePhoenix commented on #64
I think I was leaving it open as a reminder that it's not actually fixed until the new data package is out. But that'll be tomorrow, so yeah. Closed is good.

[2015-11-20 05:39] mperrin commented on #54
Related to #80 , which will be the first time we put this functionality into action in the wild. If we successfully release 0.4 and people have to update their data files, then we close this.

[2015-11-20 05:52] #77 closed

[2015-11-20 06:36] mperrin commented on #80
Basically all ready to go, pending any last minute notebook tweaks and possibly #84

[2015-11-20 12:34] mperrin commented on #80
Looks like the new data file isn't happy on Travis. It's the new NIRISS filter curves which are timing out in the non-pysynphot code path. I remember something like this from making the MIRI updates and I'm sure it's going to be the same fix.

- [ ] Fix new NIRISS filter files so the interpolation step doesn't time out

[2015-11-20 14:33] mperrin commented on #80
- [ ] Update NIRCam coronagraph calls to use a version of that code in `webbpsf.optics` instead of the deprecated one in `poppy`

[2015-11-20 17:00] mperrin commented on #80
- [ ] NIRISS filters fixed and tests, just need to recreate the zip files when I get back to my desktop.

[2015-12-17 22:25] kvangorkom opened #85 "Orientation of NIRCam LWB mask"
At the request of @mperrin:

The NIRCam LWB mask may be flipped horizontally. WebbPSF currently shows the thinner side of the bar in the science +x direction, while http://adsabs.harvard.edu/abs/2009SPIE.7440E..0WK and correspondence with John S. suggests it ought to be flipped around. The SWB mask appears correct.

[2015-12-18 18:40] josePhoenix opened #86 "Add note on calculation speeds to WebbPSF-WFIRST demonstration notebook"
Initial calculation for broadband case with 10 wavelengths took ~104 seconds on the `wfirst-tools` server. Subsequent calculations (with the Zernike cache warmed) took ~83 seconds.

[2016-01-12 22:05] josePhoenix opened #87 "SIAF parsing in jwxml may need to be updated ahead of delivery"
Per discussion with Matt Lallo, JWST-STScI-001550 has diverged from reality and we may need to update the parsing code in `jwxml.py`.

 * `DetName` is no longer a valid element to find in a SIAF.
 * `Sci2IdlDegree` is now `Sci2IdlDeg` (Not sure if this change affects the current jwxml implementation?)
 * `UseAfterDate` -- this is already present in our copy of the instrument SIAFs, so it doesn't a

[2016-01-12 22:18] mperrin commented on #87
Yes, and I ran into a couple other minor issues when trying the lastest pre-delivery SIAF XML a couple days ago. There are some new entries that are null/blank for some fields and that was causing trouble. I agree this will need an update.

[2016-01-12 22:22] josePhoenix commented on #87
:+1:

I have been working on a new tool using the jwxml SIAF...

<img width="1388" alt="screen shot 2016-01-12 at 5 21 11 pm" src="https://cloud.githubusercontent.com/assets/172886/12278772/e608836a-b950-11e5-856c-da84a9031dee.png">

[2016-01-21 17:30] mperrin opened #88 "move poppy.measure_strehl function to webbpsf and ensure it works."
See https://github.com/mperrin/poppy/issues/138

The fix is to move that function from ``poppy`` to ``webbpsf``, fixing an oversight from when I fissioned ``poppy`` into its own package separate from ``webbpsf``.

[2016-01-21 18:17] mperrin opened #89 "update MIRI LRS slit width"
For some reason I put better values in a *comment* in the code but never changed the values actually used:

[code]

Easy fix, should be done in next release.

[2016-01-21 18:29] mperrin opened #90 "check handedness of MIRI coronagraph image mask rotations"
I think I have the sign flipped here.

Need to ensure consistency with Fig 1. of Bouchet et al. 2015 (http://adsabs.harvard.edu/abs/2015PASP..127..612B). (see attached PNG)

or better yet with actual MIRI output data, properly transformed into the so-called "SCIENCE" frame, e.g. flipped around the way that DMS will output it, which may be different from the MIRI DHAS.

![screen shot 2016-01-21 at

[2016-01-21 18:47] mperrin commented on #87
So, the current code seems to be OK to me. I think I already updated the code for these syntax issues at some point in the past. I don't see any reference to `DetName` or `UseAfterDate`, and it already uses `Sci2IdlDeg` instead of `Degree`.

@josePhoenix have you encountered any specific issues with this while working on your tool development?  For me the code seems to be fine opening the latest S

[2016-01-21 18:49] josePhoenix commented on #87
I will try again with the file I got from Matt. I had an issue but neglected to save the traceback.

[2016-01-21 18:51] mperrin commented on #87
I had an issue with the NIRCam aperture names changing, but that's an issue with the XML node text values, not the XML schema itself.  This is fixed in my local code and will make it to github shortly.

[2016-01-21 18:54] mperrin commented on #87
Oh and Matt had earlier sent me an email asking me to post the following here for him (since he's not on github yet):

From Lallo:

https://jira.stsci.edu/browse/JWSTSIAF-7

[2016-01-21 19:58] #80 closed

[2016-01-21 20:00] mperrin commented on #85
@kvangorkom can you check with Stansberry to get some of the CV3 coronagraphic image data, and we can double check this against that.

[2016-01-21 20:01] mperrin commented on #84
@josePhoenix can you estimate a timeline when you might get this done? If it's an easy test case to add, I'll tag it for 0.4.1 else 0.5. Your call.

[2016-01-21 20:05] mperrin commented on #67
At this point, this is mostly done except in GUI code (tkgui.py/wxgui.py). There was one non-specific except in jwxml that I just fixed. And there is one in wfirst.py. @josePhoenix could you take care of that one please?

I am inclined to not worry much about fixing this in the GUI code, since we are gradually deprecating that in favor of notebooks.

[2016-01-21 20:06] mperrin commented on #54
This was implemented with 0.4.

We'll end up using it again with 0.4.1 now, since new data files will be included for the SIAF XMLs.

[2016-01-21 20:08] mperrin commented on #5
Somewhat related to #85

[2016-01-21 20:26] mperrin opened #91 "Fix MIRI Lyot mask rotation bug related to angle/rotation parameter transition."
Here's a webbpsf issue to point to this poppy issue: https://github.com/mperrin/poppy/issues/140
Minor code fix also needed in webbpsf_core to use the new syntax.

[2016-01-26 03:21] mperrin commented on #85
For reference:

<img width="1001" alt="screen shot 2016-01-25 at 10 21 17 pm" src="https://cloud.githubusercontent.com/assets/1151745/12571725/fd5cc6d2-c3b1-11e5-8c55-5c64df7b66d2.png">

[2016-01-27 20:57] kvangorkom commented on #90
Dean H. via Brendan H. directed me to [this paper](http://adsabs.harvard.edu/cgi-bin/bib_query?arXiv:1508.02352), which I'm interpreting to suggest that the attached image above shows the correct orientation for the science frame.

Charles L. showed me a MIRI flat field (from CV2, I believe) that agrees with the above and informs me that the raw readout shares the same origin and coordinate conven

[2016-01-27 21:11] kvangorkom commented on #85
John S. passed me along CV1 images of the module A and B masks which he'd recently manually transformed into the science frame, and they agree with the image you've attached (I'm not sure whether I should publicly post them here, but I can send them along via email if you like). That said, he was worried about a possible post-DMS flip he hadn't accounted for, so I'll follow up on that and get back

[2016-01-27 21:20] mperrin commented on #85
What after DMS would introduce an additional flip? The intention is the DMS-output 'Science' frame should be the frame for most scientific analyses, apart from just the rotation of the north angle depending on spacecraft orientation.

FYI there would be no ITAR concerns with posting the images you mention - "Models and data needed to assess the science performance of the coronagraphs" are explicit

[2016-01-27 21:22] mperrin commented on #90
Cool! I hadn't realized that the DET and SCI frames are the same for MIRI. It appears to be the only instrument for which that is the case! All the H2RG based instruments have coordinate flips between the detector and science frames.   Thanks for checking.

[2016-01-28 19:40] mperrin opened #92 "more prominently document the 'monochromatic' option"
Looking back at the past six months of support emails about webbpsf, multiple people asked 'how do I make a monochromatic PSF?'. So clearly we are not documenting that option clearly enough.

[2016-01-28 22:43] neilzim commented on #88
I'll also note that the `__init__.py` of webbpsf tries to import measure_strehl from poppy (at line 81), so in addition to moving the function, that statement should be corrected. Because of this, `import webbpsf` fails for the master version.

[2016-01-28 22:44] mperrin commented on #88
right, I have this fixed in my local branch but hadn't pushed the changes to github yet. I can do that now.

[2016-01-28 22:55] #89 closed

[2016-01-28 22:55] #91 closed

[2016-01-29 21:46] mperrin opened #93 "Cross check webbpsf output orientation & handedness w.r.t. CV test data"
catch-all issue for double checks to verify the orientations and handedness of everything relative to ISIM CV3 data, transformed to DMS-output SCI coordinate frame.
- [ ] NIRCam imaging
- [x] NIRCam WFSC
- [ ] NIRCam coronagraphy
- [ ] NIRISS imaging
- [ ] NIRISS AMI/NRM
- [ ] NIRISS grism
- [ ] NIRSpec imaging
- [ ] FGS imaging
- [ ] MIRI imaging
- [x] MIRI coronagraphy
- [ ] MIRI LRS

[2016-01-29 21:48] mperrin commented on #93
NIRCam WFSC checked and verified OK w.r.t. ISIM CV3 NIRCam files, transformed to DMS orientation, courtesy of Randal T.

[2016-02-01 20:30] mperrin commented on #85
Based on the most recent SIAF draft from Lallo & Cox, I realized we need a 180 deg flip of the entire bar.

The CV3 image of the occulters posted to the NIRCam team site confirms this.
(See https://stsci-ins.basecamphq.com/projects/9574738/file/215297942/ModA_MASKRND_SWFPAview.jpeg if you have access to that site)

[2016-02-01 22:29] mperrin opened #94 "Undo the temporary commenting-out of SIAF related functionality"
To work around some problems related to the overhaul and renaming of instrument apertures, I've commented out a bunch of the SIAF related code. See also #87, #54.

This issue is a placeholder to remind me to un-comment-out that stuff, and remove the `xfail`s on the tests, after the updated SIAF XML files are in the webbpsf data distribution files.

[2016-02-01 22:37] mperrin opened #95 "display bug edge case with NIRCam coronagraphs"
Software bug for a nonphysical case:

If you try to configure a NIRCam coronagraph image mask, but don't set a pupil mask, and then try to display it, the code will crash:

[code]

[code]

[2016-02-01 22:42] mperrin commented on #87
Current version of jwxml appears to have no problem reading and displaying the hot-off-the-presses latest NIRCam file.

@josePhoenix I think we can close this issue - do you see any reason to keep it open?

![nircam_siaf_2016_01_28](https://cloud.githubusercontent.com/assets/1151745/12733837/0a005850-c90b-11e5-8c3a-a01c3c02694b.png)

[2016-02-01 22:56] josePhoenix commented on #87
It must have been something to do with how I was using jwxml in my script... Sorry I haven't had time to provide a proper bug report! This can be closed; I'll make a proper report if I manage to reproduce the issue I was having.

[2016-02-02 19:07] josePhoenix commented on #87
I see, my issue was fixed in https://github.com/mperrin/webbpsf/commit/220156e91fbf2eb57bc1fc1696a9c5658b524fb5. Closed!

[2016-02-02 19:07] #87 closed

[2016-02-04 16:39] josePhoenix opened #97 "Combination of pysynphot available and CDBS unavailable leads to uncaught exception"
Per an issue report from Bruno Rodriguez:

When attempting to compute a NIRCam PSF following the first example in the docs:

[code]

this traceback occurs:

[code]

The issue appears to be that pysynphot can raise a TypeError in certain cases when trying to construct an ObsBandpass. We should amend https://github.com/mperrin/webbpsf/blob/master/webbpsf/webbpsf_core.py#L629 to squelch TypeErrors as

[2016-02-04 21:46] mperrin opened #99 "store webbpsf version and data files version in FITS headers"
via email from Brian York:

determine the date/version/whatever of the reference files being used by
webbpsf. Improving the performance of STIPS will require me to cache PSF
files, but I don't want to have to manually delete all of the cached
images when a new version of the webbpsf reference files becomes
available, so is there any good way to compare the reference file date
with the creation dat

[2016-02-04 22:59] josePhoenix commented on #51
Putting this where it makes more sense:

A stupid hack to find all the files pysynphot touches. As part of the test case for #98, I thought I could maybe monkeypatch the `rootdir` module-level attribute in `pysynphot.locations`, but it gets used to define some other variables in that module at import time. My next plan was re-importing pysynphot, but it wasn't picking up the modified `os.environ`

[2016-02-04 23:17] mperrin commented on #51
also moving this comment from #98:

Well, since webbpsf contains its own reference tables for the normalized JWST instrument throughputs that it turns into ObsBandpasses, we don't actually need any instrument graph tables. (At one point years ago draft versions of these existed for the JWST instruments, but I don't know if Pandeia even uses those internally any more.)

It would be convenient to gr

[2016-02-04 23:42] mperrin commented on #51
And I realize now, maybe we can even work around that. Looking at the code I'm reminded that `webbpsf` first attempts to request an `ObsBandpass`  via  e.g. `band=ObsBandpass('nircam,im,f200w')`, then it falls back to using its own reference files via `band=ArraySpectralElement(arrays_from_ref_files_in_WEBBPSF_DATA)`.

Thing is, that `ObsBandpass` call is going to work for precisely _no one_.  Not

[2016-02-05 00:25] #99 closed

[2016-02-05 00:28] mperrin commented on #92
fixed in 7378146

[2016-02-05 00:28] #92 closed

[2016-02-08 15:25] josePhoenix commented on #51
Okay, that sounds reasonable. We should have some code that exercises pysynphot-based source SEDs, though.

[2016-02-08 16:23] mperrin commented on #51
Yes - but we could just use Planck function or power law SEDs in pysynphot, which shouldn't require any input data files.

[2016-02-08 16:25] josePhoenix opened #100 "Testing strategy / changes"
I tried unrolling our various supported combinations into individual builds (https://travis-ci.org/josePhoenix/webbpsf/builds/107336210 https://github.com/josePhoenix/webbpsf/blob/d8662cd6b2251f1f5abf99b331168220343082e2/.travis.yml ) but a) it takes too long to run every combination (which is what I was trying to evaluate the feasibility of, so fair enough) and b) there is no conda package for as

[2016-02-08 19:57] mperrin commented on #100
I'm certainly on board with simplifying things as much as possible.
Certainly I'm on board with dropping numpy 1.8; I see no reason for that given recent Conda and Ureka are on at least 1.9.

I don't see a strict need to necessarily test every possible combination of the matrix's axes. For instance we could test dev poppy on numpy 1.10 but not numpy 1.9.  I suspect that many classes of potential f

[2016-02-08 22:25] mperrin commented on #67
Every non-specific except is fixed, except for a small handful in the `wxgui` code that we're in the process of slowly deprecating. That's good enough for me.

[2016-02-08 22:25] #67 closed

[2016-02-08 23:41] mperrin commented on #90
After commit f8cb2fe, here's what I'm getting:

![miri_orientation_checks](https://cloud.githubusercontent.com/assets/1151745/12903139/692946ce-ce93-11e5-90d7-6bc19cf561a7.png)

@kvangorkom can you check that over and confirm if you agree it looks correct now?

[2016-02-08 23:55] #95 closed

[2016-02-08 23:56] mperrin commented on #88
Code is working I believe, but we should add a unit test.

[2016-02-08 23:56] #97 closed

[2016-02-09 00:08] mperrin opened #101 "Release checklist for 0.4.1"
I'm going to be lazy and put both poppy and webbpsf stuff here.

For poppy 0.4.1:
- [x] the two remaining docs issues
- [x] the FFTW wisdom issue
- [x] update version number
- [x] update release notes in docs
- [x] double check test suite on Travis
- [x] make sdist; test; upload to PYPI; upload docs.
- [x] once complete & happy, git tag release.

For webbpsf 0.4.1:
- [x] have someone double check

[2016-02-09 15:54] mperrin commented on #88
Unit test added in commit  67373db

[2016-02-09 15:54] #88 closed

[2016-02-10 14:07] kvangorkom commented on #90
Without doing any more poking around, I'd agree that your image above is consistent with what I'd expect.

[2016-02-10 16:20] mperrin commented on #90
Thanks!

[2016-02-10 16:20] #90 closed

[2016-02-29 23:22] mperrin opened #102 "Update min/max wavelengths for SIs, particularly NIRCam"
From @JarronL:

[2016-02-29 23:34] mperrin commented on #102
Making `LONG_WAVELENGTH_MAX=5.3e-6` for NIRCam (and NIRISS, NIRSpec too, likely) is straightforward.
Having overlapping cutoffs between the SW and LW is a little trickier to implement given the existing code in `NIRCam._validateConfig`. One possible fix might be to check the *average* wavelength of a given calculation and set the bandpass based on that. So e.g. if the average wavelength of F150W2

[2016-02-29 23:36] mperrin opened #103 "Tk GUI bug with matplotlib backend MacOSX"
@JarronL reported the following:

[code]

[code]

[2016-03-01 16:39] josePhoenix commented on #103
I've reproduced the bug and found a workaround. Basically, when using the Tk GUI, matplotlib must be configured with the TkAgg backend *before* the pyplot helper is imported. See http://stackoverflow.com/a/34109240 for details.

The workaround is to edit `__init__.py` and add

[code]

just before the line `from . import utils`. The downside is that (I believe) this will break notebook use of WebbP

[2016-03-01 22:23] mperrin commented on #103
well we certainly don't want to break the notebook!  I think for now we should add documentation about setting the backend appropriately, and maybe leave it at that.  Converting everything away from pyplot to pure matplotlib object API sounds like a lot of work for minimal reward.

[2016-03-02 02:09] mperrin commented on #102
I talked with John Stansberry today and he confirmed the dichroic beam splitter's cutoff is indeed sufficiently gradual that there is this minor overlap at edge wavelengths.

[2016-03-02 20:10] JarronL commented on #102
I did not fully appreciate the issue with having `SHORT_WAVELENGTH_MAX` greater than `LONG_WAVELENGTH_MAX`. Keeping `SHORT_WAVELENGTH_MAX = LONG_WAVELENGTH_MIN = 2.35e-6` probably makes the most sense. This is a sensible wavelength cut-off for the LW filters and the use-case for SW observations is extremely small, specifically spectral dispersion of F150W2 using DHS. Even for that case, the longer

[2016-03-03 16:19] mperrin commented on #102
OK, we can keep the short/long cutoff as is, but increase the long wavelength cutoff to 5.3 µm.

For your specific case of explicitly wanting simulations > 2.35 µm in short wave, you should be able to easily work around that by explicitly setting the `pixelscale` attribute before the calculation. If you set the `pixelscale` to any non-default value that's sufficient to disable the auto-switching b

[2016-03-04 14:25] mperrin opened #104 "ensure non-existent NIRCam filters are removed"
Ensure that for the next release the  F225N and F418N filter data files are removed. These haven't been in NIRCam for years, and the data are just vestigial.

[2016-03-14 18:23] josePhoenix opened #105 "Additional example showing PySynphot source spectra"
Based on conversation with @rebekah9969: We should add an example showing how to use an input spectrum with pysynphot directly, as this is kind of glossed over in the documentation. Specifically, the wavelength units for the ArraySpectrum should be Angstroms if not supplied explicitly.

http://pythonhosted.org/webbpsf/webbpsf.html#input-source-spectra

[2016-04-04 23:39] mperrin commented on #104
confirmed, they're not present in the new 0.4.1 release file.

[2016-04-04 23:39] #104 closed

[2016-04-04 23:49] mperrin opened #106 "fix NIRCam coron test suite xfails"
There's a bunch of the coronagraph tests which are marked xfail right now, because they stopped working while I was re-arranging the mask orientations to match the real hardware. My belief is that the code is working fine, it's just the test suite that needs updating.

These should be fixed in the next release; I'm only ignoring them temporarily because the 0.4.1 release is already overdue enough.

[2016-04-04 23:50] #102 closed

[2016-04-04 23:50] mperrin commented on #85
I believe this is all working as desired now.

[2016-04-04 23:50] #85 closed

[2016-04-06 00:56] mperrin opened #107 "update NIRISS pixel scale"
Anand wrote:

so we should do that.

[2016-04-06 00:56] #101 closed

[2016-04-06 16:33] mperrin commented on #107
We should do this for all the SIs. See email thread on April 6.

Matt Lallo wrote:

[2016-04-13 18:59] josePhoenix commented on #36
@mperrin It looks like the only things that will change if I remove `SpaceTelescopeInstrument.calcPSF` entirely are:

  * no more `calc_oversample=` argument to raise a deprecation warning (we said we would remove this in 0.4)
  * no more `filter=` argument to override `Instrument.filter` -- I think this is a good change for consistency with `poppy.Instrument`, and I wasn't aware it was there

[2016-04-14 20:28] mperrin commented on #36
I agree those are fine to remove. The other small detail (also OK to remove) is the code I added to set the default source spectrum to a 5700 K blackbody, to silence the warning or error that ``poppy.Instrument._getWeights`` would otherwise produce. The more I think about it, the less I think that should be a warning message, since it's such a common usage case for users to ask for a PSF without g

[2016-04-27 17:30] pllim opened #108 "Update data files on Central Storage"
When I set `WEBBPSF_PATH` to the value that I am supposed to use as STScI user (http://pythonhosted.org/webbpsf/installation.html#data-install) in the SSBDEV environment, I get this error:
[code]

This implies that data files need to be updated on Central Storage for STScI users.

c/c @bhilbert4

[2016-04-27 17:34] josePhoenix commented on #108
Thanks for the report. I'm updating them now.

[2016-04-27 17:37] pllim commented on #108
Somewhat related, SSBX is not longer working nor supported. So, it should be removed from STScI instructions. See http://ssb.stsci.edu/ssb_software.shtml for more info.

[2016-04-27 17:41] josePhoenix opened #109 "AstroConda released, update installation instructions accordingly"
Per @pllim, we can now tell users about the `conda` packages @jhunkeler made

[2016-04-27 17:41] josePhoenix commented on #109
http://astroconda.readthedocs.org/en/latest/installation.html

[2016-04-27 17:42] josePhoenix commented on #108
I wasn't aware that had been officially released. Internal users can also install WebbPSF from there, and they will (should?) get the corresponding data package automatically.

[2016-04-27 17:42] pllim commented on #109
Should wait for confirmation from @jhunkeler for this one. I don't think JWST stuff is moved over yet.

[2016-04-27 17:44] josePhoenix commented on #108
Okay, the Central Storage files have been updated. `/grp/jwst/ote/webbpsf-data` is a link to `/grp/jwst/ote/webbpsf-data-0.4.1` and either path should work.

[2016-04-27 17:44] pllim commented on #108
@josePhoenix , since SSBX is not working, most JWST users will be switching to SSBDEV, which picks up the dev version of WebbPSF. I think that is the source of this error.

If you want to freeze WebbPSF version on SSBDEV, maybe we can bring @jhunkeler into that conversation, if it is even possible.

[2016-04-27 17:44] mperrin commented on #108
Whoa, the Conda distribution is now live too?  I did not know that.

This seems worthy of wider announcement to the science staff.

In particular, when I log in to witservN or telservN, ssbx is still my default environment and I can't recall how to change that to default to ssbdev instead. Brief migration instructions might be appreciated by many, I suspect.

[2016-04-27 17:45] pllim commented on #108
Re: Conda, let's discuss that in #109

[2016-04-27 17:46] pllim commented on #108
Thanks, @josePhoenix !

[2016-04-27 17:46] #108 closed

[2016-04-27 17:47] mperrin commented on #108
No the source of this error is that we actually did a new release recently and bumped the version number and I forgot to update the central store files. So this is distinct from using the dev copy.

Users of SSBDEV will need to be aware that webbpsf may break randomly at times in the same manner as any other dev package, but presumably that's no more or less a concern than anything else in the nig

[2016-04-27 17:47] josePhoenix commented on #109
You brought up a good point in the other issue. I hadn't thought about how SSBdev interacts with our data package versioning... we don't have "nightly builds" for the instrument reference data, so it's possible that the (relatively infrequent) changes involving will break WebbPSF nightlies.

[2016-04-27 17:48] pllim commented on #108
@mperrin -- hopefully the transition to Conda will solve this problem of relying on SSBDEV.

[2016-04-27 17:48] mperrin commented on #109
I also want to understand more about the handling of the data packages - I know Conda is user selectable for what gets installed, but is the _default_ behavior going to be for all users to get our 400 MB of reference files?  That may not make the most sense.

[2016-04-27 17:49] pllim commented on #109
@jhunkeler -- Please clarify. Thanks.

[2016-04-27 17:50] mperrin commented on #109
@josePhoenix anybody who wants/requires stability should be using the REL versions not DEV.

My understanding from reading http://astroconda.readthedocs.org/en/latest/faq.html is that AstroConda will function more or less like REL, and is therefore a good choice for most users?

[2016-04-27 17:51] josePhoenix commented on #109
Based on the [manifest](http://ssb.stsci.edu/astroconda/osx-64/) these packages are installed by default when following the recommended installation instructions for AstroConda:

[code]

I would say let them install `webbpsf-data` until/unless we hear complaints about it. People installing Ureka generally wanted things to "just work", and I suspect these people will be using the `stsci` metapackag

[2016-04-27 17:52] josePhoenix commented on #109
However, I just noticed it hasn't picked up 0.4.1 yet... another thing to ask @jhunkeler

[2016-04-27 17:54] pllim commented on #109
Most STScI users who use WebbPSF *and* JWST pipeline will naturally use DEV. So, it is best to make sure it works both in REL and DEV reasonably well.

[2016-04-27 17:55] pllim commented on #109
Re: Data files -- It is a philosophy issue. There is no right answer.

[2016-04-27 17:59] josePhoenix commented on #109
I would suggest a `/grp/jwst/ote/webbpsf-data-dev` folder to be updated from our stash of source material when we make changes to the data. Then the `ssbdev` environment could include an `export` line pointing the `WEBBPSF_PATH` there. This would also improve cases like @mperrin needing my IFU PSF reference data to evaluate a pull request. The downside is we'll forget to update it, since it's far

[2016-04-27 17:59] mperrin commented on #109
"So, it is best to make sure it works both in REL and DEV reasonably well."

Agreed. We don't plan to leave it broken in DEV for any great length of time. This will probably just make us (me in particular?) get better about doing development not in master.

Relatedly now that you added me to the space telescope github group, I was wondering if I should move the main webbpsf repository there instea

[2016-04-27 18:00] josePhoenix commented on #109
(+1 to putting it under SpaceTelescope. If you do, be sure to make a new empty repository and not 'fork' it from here.)

[2016-04-27 18:02] jhunkeler commented on #109
* 0.4.1 hasn't been distributed to the public repo yet, but I confirm it builds/works perfectly fine (the data files too), so I'm not worried about that.

* Yes, the entire dataset is installed with webbpsf by default, and the WEBBPSF_PATH variable is automatically defined to point to `/conda/env/path/share/webbpsf-data`.

* We received the "green light" yesterday to make the release public, so de

[2016-04-27 18:03] pllim commented on #109
Do you use Travis CI religiously? If so, I think @sosey said that there are too many repo on Space Telescope or something, and that can mess with Travis CI jobs being queued up too long.

[2016-04-27 18:04] mperrin commented on #109
Hmm, yes. I have tests for webbpsf & poppy both running in my own Travis account.

[2016-04-27 18:05] pllim commented on #109
In addition, when you move the repo, your forks from this one are going to disappear. Something to think about.

[2016-04-27 18:05] josePhoenix commented on #109
@jhunkeler how should we ensure new releases get packaged and distributed through AstroConda? Should we add "email jhunkeler" to the release checklist after we tag it?

[2016-04-27 18:06] pllim commented on #109
@nmearl, did you have problem with forks when you moved `specviz` to Space Telescope?

[2016-04-27 18:10] sosey commented on #109
The problem with running CI on Travis is there's a limit to the number of tests an organization can be running at one time. We've hung travis in the past and had to kill off processes to get the tests to complete. My recommendation before was that people run tests on their private repos while they are developing to lessen the chance of overload. Also, remember to check occasionally that your tests

[2016-04-27 18:10] jhunkeler commented on #109
@josePhoenix fork https://github.com/astroconda/astroconda-contrib and make a pull request against webbpsf, webbpsf-data, and/or poppy. On my end it's just a simple merge and compilation.

[2016-04-27 18:16] mperrin commented on #109
OK, let's hold off on any repo relocations for now. Too many potential complications with Travis and breaking existing fork links which I don't want to deal with, especially at the same time as the initial release of astroconda. Let's only change one big thing at a time. :-)

[2016-04-27 18:17] josePhoenix opened #110 "Update release checklist for AstroConda"
Per @jhunkeler, the way to get a new release into AstroConda:

I need to add this in [release.rst](https://github.com/mperrin/webbpsf/blob/master/docs/release.rst)

[2016-04-27 18:17] pllim commented on #109
Re: Moving repo -- You can always open an issue about it and see if anyone complains :smile:

[2016-04-27 18:19] josePhoenix commented on #109
This would be how to do it, but I think concerns about limited Travis resources might be reason enough not to. https://help.github.com/articles/transferring-a-repository/#transferring-from-a-user-to-an-organization

[2016-04-27 22:32] mperrin opened #111 "update SI rotations, at least for NIRSpec and MIRI"
subject line says it all. need to double check values with the SIAF folks.

[2016-04-27 22:34] mperrin commented on #111
also a more subtle detail is whether or not the MIRI coronagraph FPMs have measurably different rotations from the overall MIRI focal plane

[2016-04-27 22:37] mperrin commented on #63
I believe there are now updated locations in the SIAF for each of the filter-dependent bar occulter positions?  we should put in something consistent with those. In any case @Skyhawk172 if you can give me a copy of the code you mentioned a year ago here (or anything more recent?) then we can fold it into the next release of webbpsf. thanks!

[2016-04-27 22:39] mperrin commented on #71
this should still be done in theory, but it makes no practical difference so let's not worry about it for this next release.

[2016-04-27 22:46] mperrin commented on #93
@kvangorkom, @Skyhawk172, based on your testing with CV data, can you comment on whether webbpsf is getting the output PSF orientations correct relative to either or both of NIRCam coronagraphy and MIRI coronagraphy?

I presume we've got the NIRCam orientations right since the WFSC images are all good. I even think I emailed with you about this Kyle, but I can't find that right now, and in any cas

[2016-04-27 22:52] mperrin commented on #93
Emailed Anand and Deepashri to double check for NIRISS.

[2016-04-28 02:33] mperrin opened #112 "better document PSF normalization options?"
From some old emails with Massimo R. in 2016 Jan, he wasn't clear about how the PSFs are normalized in webbpsf, in particular regarding the coronagraphic PSFs with small Lyot stop throughput. We should check whether anything in the documentation can be clarified about this.

http://pythonhosted.org/webbpsf/references.html#instrument-filter-throughputs
but could not find it. It seems, instead, that

[2016-04-28 03:48] mperrin opened #113 "include OTE mirror moving linear model code in next webbpsf release?"
Potentially bundle up this internal bit of code and include it with webbpsf in the next release.

[2016-04-28 04:39] mperrin opened #114 "better document re very understampled PSFs for WFIRSt"
A while ago there were those emails with a user who was having trouble with encircled energy and FWHM calculations on highly under sampled WFIRST PSFs (at detector sampling). We should add some cautionary note in the documentation for the WFIRST models, so that users are warned/reminded to use Nyquist sampled data for such calculations.

[2016-04-28 05:04] mperrin opened #115 "Update various NIRCam coronagraph reference data"
Per various emails from Stansberry:
- The ND squares are not actually truly neutral, they definitely have some color to them. We could add the appropriate relative spectral response.
- From https://confluence.stsci.edu/pages/viewpage.action?pageId=52920601: "The wedge element in the SW pupil wheel has chromatic effects which impact PSF shape for wide-bandpass filters, so PSF subtraction will be pa

[2016-04-28 19:26] mperrin commented on #63
Sent to me by email, copied here for reference:

[code]

[2016-04-29 18:13] mperrin commented on #115
Coronagraph wedges info.

From NIRCam Engineering Memorandum NIR-EM_0424 "Coronagraph Wedge Angle Tolerance Effect on Focal Plane Image Position" (provided by Stansberry):

- SW wedge is BaF_2, angle is 5 degrees
- LW wedge is fused silicon, angle is 0.5 degrees.
 - pupil stop diameter is 42 mm
 - note also the pupil wheel mechanical repeatability was estimated to result in up to 2 pixels of PSF s

[2016-05-18 22:32] mperrin opened #116 "Add API function for making multi wavelength datacubes"
This has been requested by Chas Beichman and Klaus Hodapp to help with IFU simulations.

Brainstorming an API here, this could be something like

[code]

etc etc.

[2016-05-18 22:34] mperrin commented on #116
This might actually be a `poppy.Instrument` enhancement rather than in webbpsf

[2016-05-24 13:32] mperrin opened #117 "update/replace precomputed PSFs linked from web page"
These should be replaced once the next version of webbpsf is available.
In particular not just the updated WFE info - we also want to remove the two vestigial files for filters that haven't been included in NIRCam for many years.

[2016-05-26 15:19] mperrin opened #118 "pupil_rotation option doesn't work"
Anand was asking about being able to rotate the NRM pupil mask with respect to the primary. There's text in the doc strings about a `pupil_rotation` option but it looks like the implementation is incomplete. Whoops.  Need to pass that option through to the call to FITSOpticalElement along with the pupil shift options.

[2016-06-01 02:54] mperrin opened #119 "cascading coordinate complexities"
Well. Getting all the coordinate systems in `webbpsf` for pupil plane and image plane orientations, etc. to match the reality of the SIs has proven to be much more complicated than I had expected, and is leading to wide-ranging follow-on changes throughout `webbpsf` and `poppy`…  Right now this is all just in local changes on my machine, and is not ready for prime time, but I wanted to sound the a

[2016-06-01 03:36] mperrin commented on #119
4b: Yup, it breaks the FQPM_FFT_aligner, even after I fixed `input_wavefront` as noted in 4a.

[2016-06-08 14:32] kjbrooks opened #122 "Outdated attributes used in examples on documentation site"
While working through some of the WebbPSF examples, I found that several of them were calling `webbpsf.calc_or_load_psf` which didn't work and doesn't seem to exist anymore.

I found three instances of this on [the examples page](https://pythonhosted.org/webbpsf/more_examples.html)

[2016-06-08 14:38] mperrin commented on #122
I can certainly update all those. At this point though I wonder about the usefulness of having a page with example code as part of the HTML documentation, as opposed to just putting those all in a Jupyter notebook and linking to it via nbviewer. The latter would be easier to maintain long term. What do you think?

[2016-06-08 14:59] josePhoenix commented on #122
If we were feeling ambitious, we could compile our notebooks into our docs directly: https://github.com/ipython/nbconvert/pull/35 https://github.com/ipython/ipython/issues/4936

[2016-06-08 15:51] mperrin commented on #122
Oh that looks amazing. This seems to be the best reference:  http://nbsphinx.readthedocs.io/en/0.2.8/index.html

I tried to get this running in a local branch. First of course I run into an issue that some of the astropy helper sphinx extensions conflict with this - specifically the "autosummary" isn't smart enough to ignore notebook files.  So I tried just deleting all extensions entirely. Now I'

[2016-06-09 18:48] mperrin commented on #119
FQPM aligners as described in the above comment got fixed a while ago.

I just realized right now that the coordinate inversion messed up all the coronagraphic Lyot planes, since now those optics also need to be "upside down" to match the OTE exit pupil orientation. So I added a new feature to poppy to allow e.g. `flip_y=True` in the call to `FITSOpticalElement()`.

A mind-boggling amount of compl

[2016-06-10 13:22] mperrin opened #124 "Re-enable semi-analytic coronagraphy mode later"
Once https://github.com/mperrin/poppy/issues/169 is implemented (better semi analytic coronagraphy mode, to accommodate the changes from #121), then we should re-enable `trySAM=True` for the appropriate cases of NIRCam and MIRI. For now I'm setting it to false and flagging it with `FIXME` tags in the code comments.

[2016-06-10 16:36] #122 closed

[2016-06-10 21:42] mperrin commented on #15
Mostly there, now waiting on data files!

[2016-06-10 21:45] mperrin commented on #93
This should be substantially improved now with all the orientation work included in 0.5.0.
Further testing is one of the topics that @kjbrooks will be working on.

[2016-06-10 21:45] mperrin commented on #94
Done in 0.5.0.

[2016-06-10 21:45] #94 closed

[2016-06-10 21:46] mperrin commented on #100
Partially addressed in 0.5.0, could still use some attention perhaps?  Particularly w.r.t the Travis py 3.5 issues.

[2016-06-10 21:48] mperrin commented on #106
Partially fixed in 0.5.0, by changing the 45º offsets to -45º, so it has the same effect with respect to a wedge shaped occulter which is now pointing the opposite direction.
But there's still a couple xfails, particularly the semi analytic mode now is totally broken as discussed in #124

[2016-06-10 21:49] mperrin commented on #111
Updated for 0.5, could see some further verification as part of #93

[2016-06-10 21:49] #107 closed

[2016-06-10 21:49] mperrin commented on #113
got close to this for 0.5.0, but linear model needs some further validation and cross checks before release.

[2016-06-10 21:50] #119 closed

[2016-06-10 22:44] mperrin commented on #117
@josePhoenix is this something you could perhaps help with next week too please? Updating the library of precomputed example PSF FITS files at http://www.stsci.edu/~mperrin/software/psf_library/
You could add some similar files for WFI as well.

Should be a pretty trivial bit of scripting to make a new library of PSF files. It would probably be faster to write a new for loop script to generate the

[2016-07-11 04:39] josePhoenix opened #127 "conda install webbpsf followed by conda install notebook downgrades WebbPSF"
It appears that AstroConda does not provide a WebbPSF 0.5 package that is compatible with the version of the Jupyter Notebook available from Continuum Analytics. It's not clear whether this should be fixed by our Science Software Branch with a package stating compatibility with NumPy 1.10 (cc @jhunkeler) or by Continuum Analytics rebuilding the `notebook` package with the latest NumPy.

¯¯\\_(ツ)_/

[2016-07-11 16:08] mperrin commented on #127
I don't understand - what requirements are forcing this downgrade?

I think it's not anything in `webbpsf` or `poppy` themselves, but has to be something in the `astroconda-contrib` specifications. The requirements in poppy are just  'numpy>=1.8.0' so any version above that should be OK. Right?  But conversely I don't see what's wrong with the `meta.yaml` files for either in astroconda.

[2016-07-11 16:10] josePhoenix commented on #127
I think it's even more ridiculous. I think it might be that Continuum Analytics has not built a `notebook` package with the appropriate magic bits that say it works with NumPy 1.11. @jhunkeler and I talked it over and iirc that's what we came up with.

[2016-07-11 16:11] josePhoenix commented on #127
Conversely, I suppose, we have not built a webbpsf/webbpsf-data/poppy package set for the new version that says it  works with 1.10. That should be within our capabilities to fix.

[2016-07-11 16:13] mperrin commented on #127
But that's what confuses me.  I don't see anything in https://github.com/astroconda/astroconda-contrib/blob/master/poppy/meta.yaml which indicates that it's not compatible with numpy 1.10.
Same for https://github.com/astroconda/astroconda-contrib/blob/master/webbpsf/meta.yaml

[2016-07-11 16:42] jhunkeler commented on #127
The blame is split between Continuum and myself. I stopped building against numpy 1.10 in favor of 1.11 to cut down on the overall build-time. It is Continuum's fault for simply not keeping their packages up to date with the latest numpy.

Why did I go from 1.10 to 1.11 so suddenly? At the time, Continuum compiled Astropy 1.2.1 against numpy 1.11, but not 1.10 and some of our software already reli

[2016-07-12 15:51] josePhoenix commented on #127
Thanks @jhunkeler ! Just built a new astroconda env with `conda create --name astroconda python=3.5 stsci notebook` and successfully imported WebbPSF v0.5.0.

[2016-07-12 15:51] #127 closed

[2016-07-26 15:11] josePhoenix opened #129 "Replace PySynphot dependency in setup.py with one that references the repo"
Looks like this is possible: http://stackoverflow.com/questions/18026980/python-setuptools-how-can-i-list-a-private-repository-under-install-requires

[2016-07-29 13:43] jhunkeler opened #130 "Cannot build for Python 3.5.2"
## Failure message
[code]

The Python devs replaced `distutils.config.ConfigParser` with `distutils.config.RawConfigParser` in the latest release of Python 3k. Also, I'm pretty sure this bug is being handled properly in the latest release of the astropy packaging template by deprecating the use of `distutils.config` for configuration management altogether.

## Example fixes

https://github.com/ast

[2016-07-29 13:55] josePhoenix commented on #130
Another example fix: https://github.com/mperrin/webbpsf/pull/128 😉

I'll go ahead and merge it myself.

[2016-07-29 13:56] josePhoenix commented on #130
@jhunkeler master should build now. Let me know if it succeeds and I'll close this issue.

[2016-08-01 13:06] jhunkeler commented on #130
@josePhoenix :+1:

Back in business.

[2016-08-01 13:06] #130 closed

[2016-08-22 15:14] josePhoenix commented on #109
Fixed in #126

[2016-08-22 15:14] #109 closed

[2016-09-06 20:21] mperrin commented on #116
Functionality added to `poppy.Instrument` in https://github.com/mperrin/poppy/commit/952aa6966dba24c7afb87b48b4525d2b3a0268ff.

Needs documentation in webbpsf, and maybe a unit test here too.

[2016-09-06 20:22] mperrin commented on #111
I see that I wrote in June that I updated this, but the current values are out of sync with the SIAF XML files so it need another update. That confuses me since the last SIAF release was in April.

[2016-09-07 13:54] josePhoenix commented on #117
Quick update on this issue: I have a PSF library maker in https://github.com/josePhoenix/webbpsf/blob/psf-library-maker/dev_utils/compute_psf_library.py (josePhoenix/webbpsf@psf-library-maker). I've gotten access to the Jahia CMS, too.

Are we waiting on some WFE model updates, or should I press ahead with this @mperrin ?

[2016-09-07 13:55] mperrin commented on #117
Waiting on WFE model updates, yes. Stay tuned.

[2016-09-08 16:28] #112 closed

[2016-09-26 21:14] mperrin opened #132 "rationalize SpaceTelescopeInstrument.calcPSF with poppy.Instrument.calc_psf"
This got overlooked in the API updating. Whoops...

See https://github.com/mperrin/poppy/issues/180#issuecomment-249695186 :

[2016-09-26 22:00] mperrin commented on #132
After fixing a trivial typo in a warning string in `poppy.Instrument`, it seems that most webbpsf tests are passing with calls to `Instrument.calc_psf` instead of `SpaceTelescopeInstrument.calcPSF` (hereafter `STI.calcPSF` for brevity).

What's different between those two functions?
- `STI.calcPSF` has support for a couple deprecated input parameters which we can just do away with now.
- `STI.calc

[2016-09-26 22:13] mperrin opened #133 "update webbpsf jitter convolution options"
Before the next release, which will be the first one that has OPDs which don't include artificial defocus as a (not great) proxy for jitter, we should change the default values such that jitter convolution is enabled by default:

[code]

Perhaps should update the jitter API to allow `0.007*units.arcsec` for explicitness.

And we should add suitable tests for this to the WebbPSF test suite. And doc

[2016-09-26 22:50] mperrin commented on #132
Fixed (in the `si_wfe` branch for now, will merge later to master.

[2016-10-11 14:58] kjbrooks opened #140 "In version 0.6 'normalize' is no longer an expected keyword argument in calcPSF"
In testing out WebbPSF version 0.6, I found that when trying to make a simulation of the NRM mode for NIRISS, I can no longer normalize the PSF at the exit pupil (as described in the **PSF Normalization** section [here](https://pythonhosted.org/webbpsf/webbpsf.html)) because the key word argument 'normalize' is unexpected.

Here is an example of what I get when I try to use 'normalize':

[code]

[2016-10-11 15:08] mperrin commented on #140
This is related to #132.

Looks like the underlying issue is `poppy.Instrument.calc_psf` isn't passing through `normalize` to `poppy.OpticalSystem.calc_psf`.

[2016-10-11 15:15] mperrin commented on #140
Fixed in this commit just pushed to poppy master: https://github.com/mperrin/poppy/commit/cf4bddeb184e4ef15ca4ec76c41abceb184d3db2

[2016-10-12 20:32] #140 closed

[2016-10-12 20:38] josePhoenix commented on #129
Upon investigation, this workaround is not in fact possible. It was deprecated, and now it doesn't work at all. I guess we should plan ahead for the day where we have to drop PySynphot.

[2016-10-12 20:54] mperrin commented on #129
I don't understand - isn't pysynphot still used as one of the low level infrastructure pieces in Pandeia? Why would we have to drop it?

[2016-10-12 20:55] josePhoenix commented on #129
Because we want users to be able to install WebbPSF and POPPY using the standard Python package manager, but SSB does not want to maintain PyPI packages for pysynphot.

[2016-10-12 21:03] mperrin commented on #129
Right. But it's already an optional dependency, so users can either go without it (and still be able to use WebbPSF just as now), or install Astroconda and get pysynphot that way. As far as I know it's going to remain available in astroconda even if not on PYPI. So I don't see a need to drop the existing functionality given that. I agree this is less than ideal though.

[2016-10-20 19:30] josePhoenix opened #146 "WebbPSF-WFIRST docs refer to Cycle 5"
The docs on pythonhosted.org still say Cycle 6 updates are coming soon, when in fact they're already here.

[2016-10-28 15:27] josePhoenix opened #147 "PSF Library Maker enhancements"
- [ ] spit out wavelength cubes for NIRSpec (but what ranges and sampling?)
- [ ] only compute broadband PSFs with the TA filters using the `MSA all open` pupil mask on NIRSpec
- [ ] Add NIRISS NRM PSFs
- [ ] Generate plots and an HTML index file

[2016-10-28 15:42] #132 closed

[2016-10-28 16:10] josePhoenix commented on #110
Fixed by #145

[2016-10-28 16:10] #110 closed

[2016-11-03 23:33] josePhoenix opened #148 "NIRISS GR700XD filter PSF calculation fails on Quantity comparison"
Kevin Volk reports being unable to calculate a GR700XD PSF with WebbPSF v0.5.1. Other pupil masks work. Seems to be the result of using Astropy units internally without some necessary conversion.

Minimal example:

[code]

Output:

[code]

[2016-11-04 01:39] #148 closed

[2016-11-04 02:01] josePhoenix opened #150 "NIRISS auto-pupil attempts to infer wavelength for CLEAR"
An unanticipated consequence of #64 was that the `filter` setter now fails to guess the wavelength (when `auto_pupil` is enabled). (This was also reported by Kevin Volk.)

[code]

[2016-11-04 02:11] mperrin commented on #150
Yeah I saw that too in his message. Are you able to take care of this now or should I? I'm sitting here in the ICC watching mirrors move (sloooooowwwwly) so I could add the necessary special case for this now if you want.

[2016-11-04 02:18] josePhoenix commented on #150
Whoops, missed your message. I've got the fix in a new PR now, and emailed Kevin the workaround (set `niriss.auto_pupil = False`).

[2016-11-04 03:22] #150 closed

[2016-11-29 01:30] josePhoenix opened #153 "How does the NIRCam model handle filters in the pupil wheel?"
When analyzing some CV3 test data, I was made aware of the fact that some filters are mounted in the pupil wheel and used with a wide filter in the filter wheel. In particular, F407N and F444W are used together.

Since WebbPSF doesn't pretend to model overall system throughput, and since the top of the F444W filter is pretty smooth in the region of F407N (as one might expect), I doubt it needs to

[2016-11-29 01:46] mperrin commented on #153
It handles it correctly so far as I know. Remember behind the scenes all the throughput files are derived from Pandora then normalized to leave out the total throughput. The Pandeia calculation of the system spectral response does properly include both the above filters, or at least that's my understanding. Could doubled check with Tim if you want to be really sure.

[2016-11-29 01:47] mperrin commented on #153
Pandeia not Pandora. For some reason iOS autocorrect doesn't know about the Greek goddess of brightness...

[2016-12-05 17:47] mperrin commented on #16
This was added in commit 22282e2ee74cdb51c75cef9108baf6b7e35cf522

[2016-12-05 17:47] #16 closed

[2016-12-05 17:49] mperrin commented on #36
This was fixed in #132. There is no longer a separate `JWInstrument.calcPSF` (nor `calc_psf`); it just uses the one in `poppy`.

[2016-12-05 17:49] #36 closed

[2016-12-05 17:52] mperrin commented on #54
Stale issue. This has been working for > 1 year and there's no need for this issue to be open any longer.

[2016-12-05 17:52] #54 closed

[2016-12-05 17:53] mperrin commented on #70
@josePhoenix has been working on this with Loic.

[2016-12-05 17:54] mperrin commented on #100
Current Travis setup has been updated and seems to be working well. I think this issue can be closed now. @josePhoenix do you agree?

[2016-12-05 18:00] mperrin commented on #111
Double checked against current SIAF( PRDOPSSOC-E-002, released 2016-11-03).

MIRI: V3IdlYAngle = 5.0152 in SIAF Excel file, same value used in WebbPSF.

NIRSpect: NRS1 = 139.1236, NRS2 = 137.7012.
Average is 138.41. Value used in WebbPSF is 138.4. Close enough.

So I conclude that the SI rotations right now match what's in the SIAF.

[2016-12-05 18:00] #111 closed

[2016-12-15 14:21] mperrin opened #155 "double check MIRI Lyot radius"
In clearing out my overflowing inbox I came across the following from last August, which we never followed up on. _This is very low priority, I'm just making it an issue now so we remember to do it sometime - but not right now in the end of year rush._

Joseph:

Marshall:

which is consistent with the 2.125 number. However right now I can’t find the original source for that supposed measured value

[2016-12-15 14:33] josePhoenix commented on #155
David Law might be the person to ask. I believe he was working on the MIRI SIAF inputs.

[2016-12-15 14:37] mperrin commented on #155
oh come on, I explicitly put that disclaimer at the top of the issue so you _would not spend any time on this now_ while dealing with your other deadlines!  ;-)

On Dec 15, 2016, at 9:33 AM, Joseph Long <notifications@github.com<mailto:notifications@github.com>> wrote:

David Law might be the person to ask. I believe he was working on the MIRI SIAF inputs.

—
You are receiving this because you aut

[2016-12-15 14:40] josePhoenix commented on #155
Haven't left the house yet, so it doesn't count!

[2016-12-30 05:11] rubab1 opened #156 "WebbPSF-WFIRST_Tutorial example misleading"
The worked examples [here](http://nbviewer.jupyter.org/github/mperrin/webbpsf/blob/master/notebooks/WebbPSF-WFIRST_Tutorial.ipynb) linked from the STSci WFIRST WebbPSF [page](http://www.stsci.edu/wfirst/software/webbpsf) shows that
[code]
has EE50 = 0.069" and FWHM = 0.138" whereas WebbPSF built in functions calculate approximate EE50 = 0.082" and FWHM = 0.105".

[code]

The mismatch is significan

[2017-03-02 03:48] JarronL opened #157 "NIRCam coronagraphy fails with mask=None"
When performing coronagraphic simulations with NIRCam, if the mask is omitted (but the Lyot pupil is in place), then an image plane is no longer inserted at the mask location. This causes an indexing issue later down the road. It appears that [line 1010 of webbpsf_core.py ](https://github.com/mperrin/webbpsf/blob/master/webbpsf/webbpsf_core.py#L1010)
`            #optsys.add_image(poppy.ScalarTran

[2017-03-02 19:33] JarronL commented on #63
I believe the equation for `get_source_offset()` is incorrect for the wide-band filters. The wavelength value is not meant to be inside a square root. For the wide filters, lambda0 is the "half-transmission point, lambda^(1/2)" according to NIRCam_CoronagraphOps_V4.pdf. The variable lambda^(1/2) is misleading in the sense that the "^(1/2)" is not to the 0.5 power, but a confusingly placed superscr

[2017-03-06 20:04] mperrin commented on #157
Hmm, what's the use case for this?  I think my reasoning for commenting it out was that it would make the propagation faster to avoid two propagation transforms that end up being a null operation.  That would imply that a better fix would be to fix the indexing issue instead. Do you actually care about the existence of that empty image plane, or do you just want to be able to calculate Lyot pupil

[2017-03-13 19:39] mperrin commented on #63
Thanks for pointing out that error, Jarron. I've just asked John Stansberry to send me the specific table of offsets along the bar occulter as implemented in the SIAF tables. I'll just use that lookup table rather than the equation and that should ensure strict consistency in any case.

This raises the question of what the API should look like for setting offsets along the bar. Should it be the ca

[2017-03-13 19:40] mperrin commented on #63
From Stansberry:
[code]

[2017-03-14 01:28] kvangorkom commented on #63
Hmm. The default behavior in APT/future-real-observations is to consider a star with no requested offset to be at this optimal position behind the bar, correct? If so, my intuition is that defaults that are consistent with these behaviors would be preferable. (A new user to WebbPSF would expect [0,0] in WebbPSF to match [0,0] in APT to match [0,0] in their observations.) So that's a vote for the a

[2017-03-14 02:27] mperrin commented on #63
Yeah, I think I'm convinced that the default behavior should be as you describe. That changes things for current users, but for the better in the long run. We don't have a big enough user base that I worry so much about breaking back compatibility in something as specific as NIRCam bar coronagraphy. We can ask our expert coronagraphers to update their codes. :-) And we can make sure to signpost th

[2017-03-14 03:04] mperrin commented on #63
Implemented. If you set up a coronagraphic observation using either bar, it will automatically offset along the occulter to the specified position for the currently selected filter. Seems to be working here, and the unit tests pass so I don't seem to have broken anything elsewhere in the code by adding this. However if anyone feels like kicking the tires on this any, I'd appreciate any test report

[2017-03-16 21:41] mperrin opened #158 "Consider adding nonzero default pupil shear for coronagraphs based on ISIM CV measurements"
From JWST-RPT-028027 (the ISIM CV pupil shear final report), the current best estimates for pupil alignments in ISIM are:
MIRI: -1.2% shift in V2, 1% in V3.
NIRCam: 0.2% in V2, -2% in V3 from PAR measurement; -0.1% in V2, 0.1% in V3 from PIL measurement.   (See the above cited report for discussion of the discrepancies between the two measurement methods)

The NIRCam coronagraph Lyot masks are siz

[2017-04-06 17:59] josePhoenix opened #161 "Hardcoded pupil dimensions within JWST SI WFE models"
When I tried swapping in OSIM pupils and OPD maps, it became clear there's code expecting a 1024x1024 array (lots of `IndexError: index 924 is out of bounds for axis 0 with size 162`).

Minor, for people using the provided OPD and pupil maps. But worth thinking about how the models could be refactored to compute things on the right sampling "just in time" (using Wavefront.coordinates, probably).

[2017-04-06 18:49] mperrin commented on #161
I'm not surprised. I put some thought into this when coding these but never fully tested this. At least some of the code should be using the input array sizes (see https://github.com/mperrin/webbpsf/blob/master/webbpsf/optics.py#L1064) but I'm not surprised that some other places slipped through the cracks.

Can you paste an error log or at least which line that's coming from? The `MIRIFieldDepend

[2017-04-06 18:51] josePhoenix commented on #161
Yeah, it's the MIRI one. The constructor for that WFE element has include_oversize set to True by default, as well. Good to know it's not everywhere :)

[2017-04-06 19:00] mperrin commented on #161
For the cross checks you're doing now, it would be a reasonable workaround to make a branch of the code that just invokes the regular `WebbFieldDependentAberration` instead of the special MIRI one.  Trying to draw in the field dependent obscuration is irrelevant if you're patching in OSIM pupil maps anyway.  So try just commenting out line 722 in `webbpsf_core.py` that invokes the MIRI aberration

[2017-04-06 19:10] josePhoenix commented on #161
Is the obscuration really not relevant for OSIM? Or are you saying if the obscuration were in the beam at that field point, Randal's pupil shapes would already include it?

[2017-04-06 19:15] mperrin commented on #161
The latter.

[2017-04-06 19:24] josePhoenix commented on #161
Side note, no source edits needed (god bless Python):

[code]

[2017-04-20 18:57] josePhoenix opened #163 "User feedback on supersampled PSFs"
@AndreaBellini would like us to improve the documentation on obtaining supersampled PSFs. Here's the current section: http://pythonhosted.org/webbpsf/webbpsf.html#pixel-scales-sampling-and-oversampling

I understand that Andrea wanted a PSF sampled at a different pixel scale than the detector pixels, and was frustrated by the fact that `options['parity'] = 'odd'` determines the parity of the final

[2017-05-11 23:46] mperrin opened #165 "Include the updated filters files from Pandeia"
Wow, I can't believe this, but it looks like a year ago when I re-generated all the throughput files from Pandeia, I never actually put the new ones in webbpsf_data_source on Central Store. So we are still using the old ones rather than the more updated throughput curves. Whoops.

Not a huge deal - since Pandeia itself is just using monochromatic calculations and then doing the broadband normaliza

[2017-05-25 05:18] JarronL commented on #157
Sorry,I thought that I had responded to this, but apparently not(?).

I would like to calculate a PSF by setting mask=None and pupil='CIRCLYOT' (for instance) and don't have any restrictions on how this is accomplished in the propagation (either by my suggestion above or fixing the root of the index issue). I generally use this method for quickly creating a background PSF with a small footprint fo

[2017-05-26 20:44] josePhoenix commented on #156
Hi @rubab1, @mperrin and I agree this isn't how the FHWM annotation should work. The implementation is not in WebbPSF, but rather in mperrin/poppy if you would like to open a Pull Request™.

P.S. Say hi to @meredith-durbin for me 😄

[2017-06-27 06:59] benjaminpope opened #166 "poppy.test() fail on python 2.7"
Hi Marshall,

I am hoping to use poppy for an aperture mask simulation I'm doing. I just ran poppy.test() on a brand new conda 4.3.21 python 2.7 install on Mac Sierra and it seems to fail on 3 tests unexpectedly. I have copied the full output below. Is this a known issue?

Using astropy 1.3.3, scipy 0.19.1, numpy 1.13.0, matplotlib 2.0.2.

All the best,

Ben

=================================== FA

[2017-06-27 15:12] mperrin commented on #166
Hmm, thanks for bringing this to our attention. The first two errors are clearly due to the recent change in numpy handling of indices, but I thought we'd fixed all those cases already. The third test failure's a new one I don't recognize but I suspect it may be some related float/integer issue.

Thanks for bringing this to our attention, and we will try to look into it more sometime soon.

[2017-06-27 18:49] josePhoenix commented on #166
I thought we'd taken care of these, too. @benjaminpope could you say which version of POPPY you're using?

Also, if it's the current version, would you mind opening an issue on mperrin/poppy instead? Thanks :)

[2017-06-27 19:07] josePhoenix commented on #166
Ah, they were fixed on `master` since the 0.5.1 release. I would recommend installing POPPY from the development sources (see http://pythonhosted.org/poppy/installation.html) until we get a chance to release 0.5.2 or 0.6.0.

[2017-06-27 21:06] josePhoenix opened #167 "Add the WFIRST "blue" (orange) filter"
The WFIRST WFI has gained a shorter wavelength filter.

[2017-06-27 21:07] josePhoenix commented on #167
CC @meredith-durbin for reference info

[2017-06-27 23:42] meredith-durbin commented on #167
Passing the buck to @rubab1, since I got the filter curves from him

[2017-06-28 03:44] benjaminpope commented on #166
Ah, thanks! Dev source worked. Was using standard pip distribution. Can close this issue then.
________________________________
From: Joseph Long [notifications@github.com]
Sent: Tuesday, June 27, 2017 8:07 PM
To: mperrin/webbpsf
Cc: Benjamin Pope; Mention
Subject: Re: [mperrin/webbpsf] poppy.test() fail on python 2.7 (#166)

Ah, they were fixed on master since the 0.5.1 release. I would recommend

[2017-06-28 11:32] rubab1 commented on #167
The most recent filter definitions (Cycle 6) preceded selection of the Orange filter. I agree that inclusion of the new filter soon is essential, when a new curve is officially available.

[2017-06-29 02:23] #166 closed

[2017-06-29 02:24] benjaminpope opened #168 "Data Files"
Just used conda to install webbpsf - I get an environment error saying I need 0.6.0 data files to run it when I try to import (see error below).

But when I go to the link to get the data files, it looks like 0.5.0 are the only ones available?

 ***********  ERROR  ******  ERROR  ******  ERROR  ******  ERROR  ***********
 *                                                                          *

[2017-06-29 14:11] mperrin commented on #168
Conda should be installing version 0.5 still. The version 0.6 is still not officially released (and the data files aren't public yet, pending various project sign-offs that have been much delayed for various reasons). Did you specifically tell conda to install the 0.6 version of webbpsf from github? If so I'd suggest not doing that just quite yet. :-)   You can install the 0.6 dev version of poppy

[2017-07-07 14:17] josePhoenix commented on #167
From Jeff Kruk:

https://wfirst.gsfc.nasa.gov/science/Instrument_Reference_Information.html

[2017-07-07 18:35] rubab1 commented on #167
@josePhoenix Thanks for the link, didn't know it was public already. Let's hope for a speedy delivery of the updated zernike coefficients :-)

[2017-08-11 13:58] josePhoenix opened #170 "Migration to ReadTheDocs"
It appears that https://pythonhosted.org/ quietly removed the ability to upload new ZIPs of documentation. 😿

ReadTheDocs.org is more featureful (in some ways), and more commonly used. The reason we weren't using it already is that (when we last checked) projects that depend on SciPy and NumPy wouldn't build correctly in their environment. This appears to be fixed now. However, we have to do a few

[2017-08-11 13:59] josePhoenix commented on #170
My test build (https://readthedocs.org/projects/webbpsf-josephoenix/builds/5820847/) failed due to the absence of `webbpsf-data`:

[code]

[2017-08-11 15:30] mperrin commented on #170
OK, we can work around that by disabling the check when the environment variable `$READTHEDOCS` is set. I'll do that this afternoon but first, lunch.

[2017-08-11 15:31] josePhoenix commented on #170
🍛 ❗️

[2017-08-11 22:12] mperrin commented on #170
- [ ] and file a support ticket to get the links on jwst.stsci.edu updated

[2017-08-11 22:13] #170 closed

[2017-08-11 22:13] mperrin commented on #168
0.6 is now released, including the data files.

[2017-08-11 22:13] #168 closed

[2017-08-11 22:14] mperrin commented on #153
stale issue, no action needed.

[2017-08-11 22:14] #153 closed

[2017-08-11 22:17] mperrin commented on #100
stale issue. dealt with already; no action needed now.

[2017-08-11 22:17] #100 closed

[2017-08-11 22:21] mperrin commented on #63
Stale issue. Implemented back in the spring; no further action needed now.

[2017-08-11 22:21] #63 closed

[2017-08-11 22:23] #133 closed

[2017-08-11 22:23] mperrin commented on #133
this was done at some point prior to the 0.6 release.

[2017-08-11 22:25] mperrin commented on #106
stale issue; the semi-analytic coron test is an xfail but thats a separate issue. All the others are ok. No further action needed right now.

[2017-08-11 22:25] #106 closed

[2017-08-11 22:26] mperrin commented on #86
stale issue. no further action needed at this time.

[2017-08-11 22:26] #86 closed

[2017-08-11 22:27] #15 closed

[2017-08-11 22:29] mperrin commented on #146
The updated docs on readthedocs.io states "The WFI model is based on the Cycle 6 instrument reference information"

[2017-08-11 22:29] #146 closed

[2017-08-11 22:31] mperrin commented on #129
no action needed on this at this time, especially since increasingly astroconda is the main distribution channel for all this .

[2017-08-11 22:31] #129 closed

[2017-08-11 22:31] mperrin commented on #84
Stale issue; this code has been released for a long time and we've heard no complaints. No further action planned at this time.

[2017-08-11 22:31] #84 closed

[2017-08-25 22:21] mperrin opened #172 "MASKSWB coronagraphic bar offsets have the wrong sign."
The offsets on the short wave coronagraph wedge added in https://github.com/mperrin/webbpsf/issues/63 go the wrong way for SWB, since the occulter wide end is pointed the opposite direction to LWB.

See this plot that shows for F182M the offset goes toward the wider end of the wedge, when in fact it should go to the narrower end (since 1.82 < 2.0).

![screen shot 2017-08-25 at 6 20 48 pm](https://

[2017-08-25 22:40] mperrin commented on #172
Fixed - F182M now offsets toward the narrow end.

I'm leaving this issue open for now just to remind me to document these offsets and make some plots of them for JDox.

![screen shot 2017-08-25 at 6 39 25 pm](https://user-images.githubusercontent.com/1151745/29735148-bbebaca6-89c4-11e7-988b-fedf65e13add.png)

[2017-08-25 22:59] mperrin commented on #172
![masklwb_offsets](https://user-images.githubusercontent.com/1151745/29735523-7d13c5d8-89c7-11e7-8147-b238ad0b92f8.png)
![maskswb_offsets](https://user-images.githubusercontent.com/1151745/29735522-7d11b090-89c7-11e7-829b-9980699b90aa.png)

[2017-10-04 17:49] ariedel opened #175 "memory leak in calcPSF (possibly a POPPY issue)"
Some background:
Pandeia uses WebbPSF to precompute a library of monochromatic PSFs which we then use to generate our 3D scenes. To do this, we create and configure an instrument object, and then iterate through a list of wavelengths to produce the suite of PSFs.

Recent experimentation (and then follow-up with memory_profiler) demonstrates that running instrument.calcPSF() generates a net gain of

[2017-10-04 19:15] mperrin commented on #175
I was actually thinking about this a little while ago. I suspect it's almost certainly related to the opening of the FITS files for the OPDs. The current code is a bit lax about closing those file handles and was relying on the Python garbage collector to close those after a calculation. I think for whatever reason the garbage collector is not actually closing those efficiently (but it does someti

[2017-10-04 21:28] robelgeda commented on #175
I can look into this. I have a tall task queue right now so it may take a while before I get to it.

[2017-10-05 00:44] JarronL commented on #175
When I saw this today, I became a little concerned for my own application (although, I've never seen memory blow-ups on my machine in the past), so decided to look into it. However, I am not seeing this behavior in my either Python 2.7 (webbpsf 0.5.0) or 3.5 (webbpsf 0.6.0). For instance, the following code gives me no change in memory usage after the initial run:

[code]
Final memory usage was 28

[2017-10-05 13:16] ariedel commented on #175
I'll try creating a test case...

[2017-10-05 20:29] ariedel commented on #175
Try the file in this gist:
https://gist.github.com/ariedel/b478034bf2f96ce3bc8b2f21e6932c9d

It's already set up for use with memory_profiler

[2017-10-05 22:03] JarronL commented on #175
Just had a look at your code. Part of the problem here is that you're creating a deepcopy of the webbpsf instrument instance for every single wavelength. There's no real need to do this as far as I can tell. A simple solution is to instead have the outer for loop within create_psf() iterate over [r,theta], while the inner loop iterates over wavelength. For each psf dictionary you create, you can u

[2017-10-06 14:49] ariedel commented on #175
Thanks, that's fixed the memory leak.

[2017-10-06 16:47] #175 closed

[2017-11-13 19:40] shanosborne opened #177 "Tutorial notebook out of date OPD filenames for revision W"
See "Create monochromatic PSFs across an instrument’s entire wavelength range" example in https://pythonhosted.org/webbpsf/more_examples.html

[2017-12-05 18:05] robelgeda opened #178 "otelm folder and opds.py bug"
otelm folder is not being built and multiple minor bugs spotted in opds.py.

[2017-12-05 18:06] robelgeda commented on #178
I can't self-assign here but I am working on this.

[2017-12-06 00:57] mperrin commented on #178
Let me know what you run into - that code was working for me locally but it's new so I'm not surprised there are issues. Thanks for helping Lauren with this today

[2017-12-12 22:26] mperrin opened #179 "Update NIRCam LW SI WFE models to back out the F323N defocus"
Coordinate w/ @JarronL to determine quantitatively what the right adjustments to make are.

[2017-12-12 22:29] mperrin opened #180 "Obtain or generate NIRCam WFE maps for coronagraphic field points"
Either find WFE maps from the IPR LEDs, or generate from Zemax.

This should hopefully include wavelength-dependent terms for the NIRCam-internal WFE (from the refractive optics being used at large field angle), and also for the wedge chromatic term. (see also #115)

[2017-12-12 22:32] mperrin commented on #180
Should have tagged @JarronL in this issue too

[2017-12-13 20:06] mperrin opened #181 "Selecting a coronagraph mask should automatically update the detector position"
So that we pick out the best available WFE model, setting an image plane mask should automatically load the right detector position (and detector name if that needs to change).

[2018-01-07 14:49] ariedel opened #182 "Add option to turn off cold pupil mask for WFIRST"
The W146, F184, G150 (grism) and, depending on where you look on the Cycle 7 reference page, H158 filters on WFIRST use a cold pupil mask; the R062, Z087, Y106 and J129 filters do not.

Pandeia uses a library of monochromatic PSFs to generate observations. That means we need versions of a 0.927 micron PSF with the mask (for W146) and without the mask (for Z087 and Y106), and so on.

I think the be

[2018-01-12 16:28] robelgeda opened #183 "WFIRST User Interface PSF Calculation Bug"
When using webbpsf.jupyter_gui.show_notebook_interface_wfi(wfi) for WFIRST Tools, the PSF calculation runs into the following error (NB: I am using a docker container):
<img width="798" alt="screen shot 2018-01-12 at 11 21 48 am" src="https://user-images.githubusercontent.com/10345916/34884748-b15660a8-f78b-11e7-9ec9-cb231ea60587.png">

[2018-02-01 15:58] shanosborne opened #186 "Redundant code in _get_aberrations"
Clean up redundant code (the error) in _get_aberrations function in core code

[2018-02-02 18:25] robelgeda commented on #178
Addressed in PR #185

[2018-02-02 20:13] robelgeda commented on #186
Hi @shanosborne, what is the error in in ` _get_aberration`?

[2018-02-02 20:58] robelgeda commented on #186
Sounds good to me!

[2018-02-19 20:32] mperrin opened #191 "For coronagraph masks, add "bar_offset_y" for NIRCam. Add similar for the round occulters and MIRI as well."
As requested by @ariedel for use in Pandeia ETC coronagraph generation script

[2018-02-19 20:33] ariedel commented on #191
Use case is that Pandeia requires the PSF to be centered on a pixel; this currently requires us to snap to pixel positions rather than the actual requested XY location.

[2018-02-19 23:45] mperrin commented on #191
This turns out to be a real pain in the neck for MIRI, given the different rotated coordinate systems. Because of how the optics are implemented, the "natural" way to offset the FQPM is in V2V3, rotated by ~ 5 deg from the instrument detector X and Y (which is what Pandeia wants to work in). So even implementing a "simple" option to offset the focal plane mask by a given amount inevitable is going

[2018-02-20 15:56] mperrin commented on #186
Closed by PR #189.

(BTW, @shanosborne, a helpful feature on Github is that when you do a pull request that fixes an issue, you can include a string like "closes #186" as part of the Git commit message. Then Github will automatically know to mark the issue as closed when the PR is merged.  See [these GitHub docs](https://help.github.com/articles/closing-issues-using-keywords/) for details. Or you

[2018-02-20 15:56] #186 closed

[2018-02-20 15:56] mperrin commented on #182
Resolved by #188.

[2018-02-20 15:56] #182 closed

[2018-02-20 15:58] mperrin commented on #179
@JarronL, remember this conversation back in December? You thought the OPD files I'm using (from CV3, in F323N) were pessimistic because some of the defocus is in that specific filter rather than the other NIRCam optics. Can you point me at any better information on this? What do you recommend in terms of the OPDs we use for LW?

[2018-02-20 21:59] mperrin opened #192 "Add model for MIRI detector scattering"
This has been on [the roadmap](https://github.com/mperrin/webbpsf/wiki/Roadmap-for-Development) for a while, but I realized wasn't actually its own issue issue.

Should implement the convolution kernel for the MIRI detector scattering, as described in [this MIRI tech report](https://confluence.stsci.edu/download/attachments/66358736/MIRI-TN-00076-ATC_Imager_PSF_Issue_4.pdf?version=2&modificationDa

[2018-02-20 22:10] mperrin opened #193 "Travis docs builds have started failing for WebbPSF"
See for instance [this job](https://travis-ci.org/mperrin/webbpsf/jobs/344042352):

[code]

Same error is seen with the [poppy Travis docs builds as well](https://travis-ci.org/mperrin/poppy/jobs/343909728).

@eteq any suggestions, please? Do we need to update to a new version of the astropy_helpers submodule?

[2018-02-20 22:33] JarronL commented on #193
Not sure if this is related, but Astropy v3.0 came out yesterday (or so). I had a problem today with pynrc readthedocs where the virtual environment grabbed the latest version of astropy (v3), which was breaking some of code compilations/initializations. I ended up enforcing a more strict version in the requirements.txt document to astropy==2 which solved my problem.

[2018-02-20 22:41] mperrin commented on #193
Thanks Jarron, I'll experiment with that and see!

[2018-02-20 23:23] JarronL commented on #179
While in Pasadena, you showed me a plot (I believe from Randal Telfer?) with the theoretical wavelength-dependent defocus (either from Zemax or Code V) compared to measured defocus during ISIM-level testing. My initial inclination is to say that the "predicted" focus values should be used in general, and then certain filters (such F323N) will have an additional power. I'm currently trying to dig u

[2018-02-20 23:28] mperrin commented on #179
[nircam_defocus_model_plot.pdf](https://github.com/mperrin/webbpsf/files/1742301/nircam_defocus_model_plot.pdf)

[2018-02-20 23:31] mperrin commented on #179
Hmm, let's try that as PNG instead:
![nircam_defocus_model_plot](https://user-images.githubusercontent.com/1151745/36454965-20536772-166c-11e8-8e59-89849399f33a.png)

It's my plot, from data provided by Randal.  The blue curves are what is used in WebbPSF right now, as a function of wavelength (but not specifically as a function of different named elements in the pupil and filter wheels)>

[2018-02-21 00:05] JarronL commented on #193
Just to clarify, I modified my requirements.txt (which is specific to readthedocs). Looks like your equivalent is at https://github.com/mperrin/webbpsf/blob/master/docs/rtd-pip-requirements. I haven't dealt with Travis, though, so not sure how that all works.

[2018-02-21 00:06] mperrin commented on #193
Right, it's different for Travis. So far I've tried editing the .travis.yml file in the home directory and/or setup.py, but didn't figure out the right incantations yet.  I'm hoping that @robelgeda may be able to help out with digging into this since my plate is (as usual) overfull...

[2018-02-21 00:26] JarronL commented on #179
Thanks. I'm currently looking at the cumulative data from CV2 on my machine, which shows the best-fit focus offsets for the various field points. It's a bit of a scatter. From what I can tell, the measured points in your plot correspond to the average of 13 different field points per module, each with a standard deviation of about 0.25mm. I dug up one technical report that concludes the measured f

[2018-02-21 00:50] #193 closed

[2018-02-21 01:00] robelgeda commented on #193
@mperrin @JarronL I will look into this.

[2018-02-21 01:03] mperrin commented on #193
No need now @robelgeda  - see PR #194 by @sosey which fixed things a few minutes ago.

[2018-02-21 01:09] robelgeda commented on #193
Got it.

[2018-02-22 23:04] mperrin commented on #192
@skendrew offered to check if anybody on the MIRI team already had Python code for this, before we potentially reimplemented it.   "I suspect not but let me check"

[2018-02-26 22:13] shanosborne opened #195 "Missing _getDefaultNLambda function"
_getDefaultNLambda function is missing from WebbPSF. It should pull
[code]

[2018-02-26 22:25] shanosborne opened #196 "MIRI FND filter wavelength data doesn't go to short wavelengths"
Doesn't reach short enough wavelengths so the transmission goes to zero
![miri](https://user-images.githubusercontent.com/31218961/36699208-03135840-1b1a-11e8-9789-bd4f340ea374.png)

[2018-02-26 22:38] shanosborne commented on #165
This should be done - especially for the W2 filters!

[2018-03-26 19:59] laurenmarietta opened #198 "GUI fails to launch: NSException"
Using the latest version of webbpsf (https://github.com/mperrin/webbpsf/commit/66ed310c33051a8e29a7ea9333aff75c2a00c38c) in Python 3.5, calling `webbpsf.gui()` results in this gnarly error:

[code]
I suspect this might have something to do with a backend... maybe?

[2018-03-26 20:01] laurenmarietta opened #199 "Add FGS2 to GUI"
Kevin Volk has noticed that there is no option to select FGS2 when simulating FGS PSFs through the GUI.

[2018-03-27 06:57] JarronL commented on #198
This looks similar to issue #103.

I have found that in many cases ``matplotlib`` crashes when using the default backend (at least on Mac OS X and certain Linux distributions). Given the propensity for these crashes, it may be preferable to use a different graphics backend such as TkAgg. This can either be accomplished by setting ``matplotlib.use("TkAgg")`` after importing ``matplotlib`` or settin

[2018-03-27 14:21] mperrin commented on #198
The GUI is problematic because of different backends on different platforms, yes. I concur with the recommendation to try different backends and see if that works more reliably for your setup. That said, the GUI is not being actively developed any more, and there are many options that are available in the Python API but not the GUI. So just be aware that it's fine to use the GUI but you will have

[2018-03-27 16:09] laurenmarietta commented on #198
Great - declaring `matplotlib.use('TkAgg')` before importing webbpsf did the trick.

It might be useful to add a clause to the GUI script that determines what matplotlib backend is actively being used, and asks the user to change to TkAgg if it detects a different backend (rather than running and crashing)? Though I hear that the GUI isn't being developed anymore, so maybe it's not worth the troub

[2018-04-06 20:13] mperrin opened #200 "Detector pixel coordinate specification isn't necessarily consistent with odd/even array sizes"
As discussed with @shanosborne

Consider:
[code]
The resulting PSF has even dimensions so it's exact center is implicitly on a half pixel boundary. The detector position coordinates written into the FITS header should probably be modified to reflect that.

Could also consider giving the mapping to the detector pixel coordinates of the first pixel (data[0,0]) in the array?  Need to be more thoughtf

[2018-04-17 22:11] mperrin opened #201 "Add function to load or import OPDs produced by the WAS"
Charles will work on this.

[2018-04-25 15:55] ariedel opened #203 "Change WFIRST Imager psf settings"
The current setup for toggling the WFIRST WFI pupil mask is (at my request, admittedly) an attribute called 'pupil', which can be set to WFI._unmasked_pupil_path or WFI._masked_pupil_path to select an unmasked or cold pupil masked setup.

For all of the JWST instruments, this is actually controlled by an attribute called pupil_mask, which is set to a string (for instance: for NIRCam, "WEDGELYOT" s

[2018-04-25 16:00] mperrin commented on #179
Hi @JarronL, wanted to follow up on this about the filter-dependent defocus. Shannon Osborne here is working on updating the instrument models so this would be very useful info to have.

cc @shanosborne @obiwan76

[2018-04-25 16:50] mperrin opened #204 "Updates to SI models based on CV3 and other SI testing data"
Notes from discussion with Marcio and Shannon - cc @shanosborne, @obi-wan76

**SI defocus models**
 * NIRCam defocus vs wavelength. See #179
 * Are there any measured & significant focus variations between the instruments, or are they all entirely confocal within the uncertainties?
- [ ] @obi-wan76 will confer with Telfer about focus information

**Pupil shear and pupil distortions.**
 * To the ex

[2018-04-25 16:55] mperrin commented on #201
Tagging Charles -  @Skyhawk172

[2018-04-25 17:03] mperrin commented on #200
@shanosborne is fixing this

[2018-04-25 17:09] mperrin commented on #203
And it would auto-select based on filter name, the same way that the JWST NIRISS model handles auto-inserting the CLEARP obscuration.

[2018-04-25 17:10] mperrin commented on #195
Fixed  by #197

[2018-04-25 17:10] #195 closed

[2018-04-25 17:11] mperrin commented on #196
Neither @shanosborne nor I can remember why we thought this was an issue.

[2018-04-25 17:17] mperrin commented on #192
tagging @shanosborne @obi-wan76

[2018-04-26 14:42] obi-wan76 commented on #204
From Randal regarding the defocus/wavelength function.
"The best thing to do is to synthesize all of our ISIM CV and NIRCam CV tests into a consistent model.  I still haven’t written up my OTIS reports so I need to get that out the door first, but after that I will get back to this older stuff, that one is definitely on my list to do."

[2018-04-26 14:48] obi-wan76 commented on #204
I'll look into my old CV3 analysis of the best focus positions. I used encircle energy fractions to estimate the best focus for CV3 observations and I was usually in good agreement with everyone else values, including Randal's PR results (I was doing a cross-checked analysis).  Maybe I can create my own defocus vs wavelength function.

[2018-04-27 14:10] mperrin commented on #203
@robelgeda do you think you could take a look at this request from @ariedel?

[2018-04-27 14:11] mperrin commented on #200
Fixed by #205

[2018-04-27 14:11] #200 closed

[2018-04-27 14:11] mperrin commented on #178
Fixed by #185

[2018-04-27 14:11] #178 closed

[2018-04-27 15:12] robelgeda commented on #203
@mperrin : On it.

[2018-04-27 17:19] mperrin opened #206 "Bug in NIRCam coronagraph round mask: truncation at wrong value for zero of Bessel function"
Just noticed this today; we've been mis-calculating the transmission of the round masks by about half a percent.  Not sure how long it has been an issue, but potentially a long time.

**Issue:**
The NIRCam coronagraph occulters only contain the central peak and first side lobe, and are truncated after that. The implementation for the bar occulters appears to be correct, but for the round masks it'

[2018-04-27 18:11] mperrin commented on #206
After updating the code to truncate at the correct value for the second zero of the first Bessel function of the first kind (i.e. `scipy.special.jn_zeros(1,2)[1]` instead of `2*np.pi`), the occulter transmission now looks like it should.  The transmission levels out at precisely 1.0 for all positions far from the occulting mask and ND spots.

![mask335r_example_fixed](https://user-images.githubuse

[2018-04-27 18:38] mperrin commented on #206
I double checked the implementations in WebbPSF against the equations given in Krist et al. 2007 Proc SPIE. Everything else looks consistent as far as I can tell.

[2018-04-27 21:23] #206 closed, assigned to nobody

[2018-04-27 21:38] JarronL commented on #206
I actually had noticed the lower throughput a while ago, but thought it was intentional or a consequence of the Bessel function being used. At the time, I did a quick test where I forced the transmission to be 1.0 past 2*pi and saw negligible impact on the contrast, so just let it go.

[2018-04-27 22:34] mperrin commented on #199
The GUI is deprecated and not a priority for development. If you or Kevin want to add that, then sure please do submit a PR. But it's not going to be high on our to do list otherwise.

[2018-04-27 22:38] mperrin commented on #191
@ariedel, remind me where we left things with the coronagraph PSF generation script. I have this open issue about adding an option for shifting the masks around, and added code back in February to implement it. I'm not sure if any more is needed now? If you're happy with the coronagraph PSF generation script then good and I won't worry about any more effort on this issue.

[2018-04-27 22:42] mperrin commented on #181
Implemented, just needs some documentation perhaps

[2018-04-27 22:45] #177 closed

[2018-04-27 22:52] mperrin commented on #157
This was fixed at some point in the past. I don't recall in which commit. But I just double checked now and it is working as desired.

[2018-04-27 22:52] #157 closed

[2018-04-27 22:52] mperrin commented on #158
This task has been folded into the plan for #204

[2018-04-27 22:52] #158 closed

[2018-04-27 22:55] mperrin commented on #161
This is related to the 2048 squared pupils discussed as part of #204 . @obi-wan76, this issue points out a couple places with hard-coded 1024 sizes for some of the other SIs, in particular MIRI.

[2018-04-27 23:08] #118 closed

[2018-05-17 15:52] mperrin opened #210 "in opd modification tools, `move_seg_local` doesn't work for the SM"
Due to different ordering of the degrees of freedom in the IFM. Easiest fix is to just prohibit use of SM in `move_seg_local`.  As reported by @Skyhawk172

[2018-05-17 16:31] mperrin commented on #204
@obi-wan76, @shanosborne could you help me update the checklist of tasks in this issue? I think a lot of these have been accomplished but it should be the two of you checking them off, not me. Thanks!

[2018-05-21 13:43] obi-wan76 commented on #204
@mperrin how can edit this ticket to mark a task as complete?
Thanks!

[2018-05-21 13:53] mperrin commented on #204
I believe you can just click on the checkboxes directly to mark them checked.  Let me know if that doesn’t work.

[2018-05-21 16:19] obi-wan76 commented on #204
@mperrin I tried but I can't check the checkboxes. I see it as "unclickable". @shanosborne are you able to check the checkboxes? Perhaps is just me.

[2018-05-21 16:22] shanosborne commented on #204
No I also can't click the checkboxes

[2018-05-21 23:04] mperrin commented on #201
Implemented by #208

[2018-05-21 23:04] #201 closed

[2018-05-21 23:07] mperrin commented on #167
Added by @robelgeda  as R062

[2018-05-21 23:07] #167 closed

[2018-05-21 23:08] mperrin commented on #165
Done, in webbpsf-data-master now and in the 0.7.0 rc zip files.

[2018-05-21 23:08] #165 closed

[2018-05-21 23:09] mperrin commented on #147
Downloadable PSF library maker has been deprecated - no need to update it. Plots and tables of PSFs are now in JDox.

[2018-05-21 23:09] #147 closed

[2018-05-23 23:20] mperrin commented on #196
The updated filter throughput file I made for 0.7.0 has a better wavelength range.

On the other hand it has some weird narrow spikes at longer wavelengths. Not sure if real but that's what's in Pandeia. In any case, we're now going to be synced up with the official reference data used in the ETC, so further investigation of this is not our job as part of WebbPSF dev.

![miri_fnd_throughput_update

[2018-05-23 23:20] #196 closed

[2018-05-24 22:15] mperrin commented on #204
@obi-wan76 Did you ever decide if we should update the focus vs wavelength model for NIRCam at all? Right now since we’re basically ready to go with everything else, I’m inclined to leave any changes to the focus model for a future task. Yes?

[2018-05-24 22:16] mperrin commented on #192
Implemented by #209

[2018-05-24 22:16] #192 closed

[2018-05-25 02:04] obi-wan76 commented on #204
@mperrin Yes. I think we need to wait for Randal's final report to include a field-dependent focus model. I got some DMS reprocess NIRCam CV3 data to work on my own corrections but we still have time to compile and upgrade to a final all-inclusive model (as a future task).

[2018-05-29 20:44] mperrin opened #213 "For distortion code, copying HDU 0 to HDU 2 needs to update some keywords"
Attention @shanosborne. There appear to be some FITS header keywords that need to be set for extension keywords. I'm seeing the following problem when trying to save PSFs. This is on astropy 3.0.2 in case that makes any difference.

I think you may need to avoid the `deepcopy` of the header after appending the new HDU, in your changes to `calc_psf`. The `HDUList.append()` function is supposed to h

[2018-05-29 20:44] mperrin opened #214 "Existing unit tests apparently don't test file writing at all."
If they did, they would have caught #213

[2018-05-30 13:06] mperrin commented on #213
Fixed by #215

[2018-05-30 13:06] #213 closed

[2018-05-30 13:07] #214 closed

[2018-05-30 13:10] #210 closed

[2018-05-30 13:11] mperrin commented on #183
Fixed by #184 and #211

[2018-05-30 13:11] #183 closed

[2018-05-30 13:12] mperrin commented on #172
Julien put the above figures on JDox. No further action needed at this time.

[2018-05-30 13:12] #172 closed

[2018-05-30 14:35] mperrin opened #216 "docs: explain more about NIRCam auto-channel toggling and how it interacts with other options"
Via email from @obi-wan76:

[code]

[2018-05-30 14:55] mperrin opened #217 "NIRCam class doesn't auto-select channel based on detector attribute"
The docs suggest it does, but actually this doesn't work like it should:

[code]

Discovered in the course of checking my suggested fix options for #216

[2018-07-05 15:37] ivalaginja opened #220 "Wrong labels on OTE segments in exit pupil orientation"
When displaying the exit pupil orientation of the OTE, the segments are currently labelled with their labels from  the entrance pupil orientation.
<img width="850" alt="screen shot 2018-07-05 at 11 37 14 am" src="https://user-images.githubusercontent.com/29508965/42333095-cd39ab50-8047-11e8-9a21-ec6cc4ef43b3.png">

[2018-07-09 16:22] mperrin commented on #113
This has been done in 0.7.

[2018-07-09 16:22] #113 closed

[2018-07-09 16:23] #93 closed

[2018-07-09 16:23] mperrin commented on #117
The precomputed PSF library is deprecated, and we shouldn't do any further work on this.

[2018-07-09 16:23] #117 closed

[2018-07-09 16:29] #5 closed

[2018-07-09 16:36] mperrin commented on #114
@robelgeda here's an old issue suggesting we should improve the WebbPSF documentation for WFIRST PSFs to better emphasize the fact that they're very under sampled, and the consequences of that. Do you think you could take care of this, please? Not urgently, but at some point over the next ~ 2-3 months?

[2018-07-09 16:52] mperrin opened #221 "Add initial support for MIRI MRS"
Details TBD, in coordination with the MIRI team.

[2018-07-09 16:53] mperrin opened #222 "Add initial support for NIRSpec IFU"
Details TBD, in coordination with the NIRSpec team.

[2018-07-09 16:55] mperrin opened #223 "General update and refresh of documentation"
Could use some modernization.

- [ ] Cleanup and organize better the example codes
- [ ] Switch to STScI-template documentation theme?
- [ ] Similar for POPPY also.

[2018-07-09 17:26] mperrin opened #224 "Clone / copy repo to https://github.com/spacetelescope/webbpsf"
- [x] Copy the code
- [ ] Copy the open issues and PRs
- [ ] Update URL links in docs, etc.
- [ ] Update URL links in PyPI and Conda when doing next release
- [ ] inform team members to update their remotes.

[2018-07-12 16:00] mperrin opened #225 "docstring of opds.py _apply_hexike_to_seg needs correction"
Pretty sure the inputs of that function are in meters, not microns. Per discussion with Iva.

[2018-07-20 00:49] JarronL opened #226 "NIRCam SW distortion center position"
In checking out the distortion results in v0.7.0, I noticed resulting PSFs getting shifted in ways I was not expecting. These shifts depend on values specified in `detector_position` attribute. For the SW modules, I would have expected any PSF shifting to be relative to the center of the entire focal plane rather than the center of a given detector.

For instance, setting `detector='A1'` and `dete

[2018-08-28 17:12] mperrin commented on #30
Issues migrated to https://github.com/spacetelescope/webbpsf/issues.
Please see the copies in that repo from now on.

[2018-08-28 17:12] #30 closed

[2018-08-28 17:12] mperrin commented on #51
Issues migrated to https://github.com/spacetelescope/webbpsf/issues.
Please see the copies in that repo from now on.

[2018-08-28 17:12] #51 closed

[2018-08-28 17:12] mperrin commented on #56
Issues migrated to https://github.com/spacetelescope/webbpsf/issues.
Please see the copies in that repo from now on.

[2018-08-28 17:12] #56 closed

[2018-08-28 17:12] mperrin commented on #58
Issues migrated to https://github.com/spacetelescope/webbpsf/issues.
Please see the copies in that repo from now on.

[2018-08-28 17:12] #58 closed

[2018-08-28 17:12] mperrin commented on #59
Issues migrated to https://github.com/spacetelescope/webbpsf/issues.
Please see the copies in that repo from now on.

[2018-08-28 17:12] #59 closed

[2018-08-28 17:12] mperrin commented on #65
Issues migrated to https://github.com/spacetelescope/webbpsf/issues.
Please see the copies in that repo from now on.

[2018-08-28 17:12] #65 closed

[2018-08-28 17:13] mperrin commented on #70
Issues migrated to https://github.com/spacetelescope/webbpsf/issues.
Please see the copies in that repo from now on.

[2018-08-28 17:13] #70 closed

[2018-08-28 17:13] mperrin commented on #71
Issues migrated to https://github.com/spacetelescope/webbpsf/issues.
Please see the copies in that repo from now on.

[2018-08-28 17:13] #71 closed

[2018-08-28 17:13] mperrin commented on #103
Issues migrated to https://github.com/spacetelescope/webbpsf/issues.
Please see the copies in that repo from now on.

[2018-08-28 17:13] #103 closed

[2018-08-28 17:14] mperrin commented on #105
Issues migrated to https://github.com/spacetelescope/webbpsf/issues.
Please see the copies in that repo from now on.

[2018-08-28 17:14] #105 closed

[2018-08-28 17:14] mperrin commented on #114
Issues migrated to https://github.com/spacetelescope/webbpsf/issues.
Please see the copies in that repo from now on.

[2018-08-28 17:14] #114 closed

[2018-08-28 17:14] mperrin commented on #115
Issues migrated to https://github.com/spacetelescope/webbpsf/issues.
Please see the copies in that repo from now on.

[2018-08-28 17:14] #115 closed

[2018-08-28 17:14] mperrin commented on #116
Issues migrated to https://github.com/spacetelescope/webbpsf/issues.
Please see the copies in that repo from now on.

[2018-08-28 17:14] #116 closed

[2018-08-28 17:15] mperrin commented on #124
Issues migrated to https://github.com/spacetelescope/webbpsf/issues.
Please see the copies in that repo from now on.

[2018-08-28 17:15] #124 closed

[2018-08-28 17:15] mperrin commented on #155
Issues migrated to https://github.com/spacetelescope/webbpsf/issues.
Please see the copies in that repo from now on.

[2018-08-28 17:15] #155 closed

[2018-08-28 17:15] mperrin commented on #156
Issues migrated to https://github.com/spacetelescope/webbpsf/issues.
Please see the copies in that repo from now on.

[2018-08-28 17:15] #156 closed

[2018-08-28 17:15] mperrin commented on #161
Issues migrated to https://github.com/spacetelescope/webbpsf/issues.
Please see the copies in that repo from now on.

[2018-08-28 17:15] #161 closed

[2018-12-07 23:45] #181 closed

[2018-12-07 23:45] #198 closed

[2018-12-07 23:45] #216 closed

[2018-12-07 23:45] #225 closed

[2019-05-17 16:39] hover2pi opened #227 "NIRISS SOSS psfs are identical for CLEAR and F277W filters"
I noticed that if I generate a NIRISS psf using pupil `GR700XD` and filter `CLEAR` or `F277W`, I get identical psfs returned. They should be different!

Here's the code I used:

[code]

Is it the case that only the `CLEAR` filter is supported with `GR700XD` or am I mistaken? And if not, are there plans to add support for the `F277W` filter? Thanks!

[2019-06-18 15:16] mperrin commented on #227
Hi @hover2pi - apologies for not responding to this before now. We're actually using the repo in `spacetelescope/webbpsf` as the main development repo now, so I'll refile this as an issue of there.

[2019-06-18 15:18] #227 closed, assigned to nobody

[2019-12-09 14:54] Skyhawk172 opened #228 "FWHM: Different results using "display_profiles" and "measure_fwhm""
I'm getting a different FWHM result when comparing the output from webbpsf.display_profiles and webbpsf.measure_fwhm (0.228" vs 0.189").  I haven't looked at the code yet but just wanted to document this finding.